@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// ui
.ui {
  padding-block: 40px;

  .ui-block {

    &__title {
      font-size: 24px;
      font-weight: 400;
    }

    &__content {
      margin-top: 10px;

      &.buttons {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;

        @include tablet {
          grid-template-columns: 1fr 1fr;
        }
      }
    }

  }

  .ui-block + .ui-block {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $line-grey;
  }
}
