extends ../../app/pug/layouts/base.pug

append vars
  - title = "Article"
  - description = "Описание Article"

append content
    +regPage('article', true, true)
    //- регистрация
    //- +regLibrary('lib-name/lib.css', 'lib-name/lib.js')
    //- +regBlock('block-name', true, true)
    +regLibrary('swiper/swiper-bundle.min.css', 'swiper/swiper-bundle.min.js')
    +regBlock('no-time-read', true, true)
    +regBlock('search-team', true, true)
    +regBlock('instruction-set', true, true)
    +regBlock('banner-crm', true, true)
    +regBlock('see-also', true, true)
    +regBlock('form-live-demo', true, true)
    +regComponent('breadcrumbs', true, true)
    +regComponent('animate-button', true, true)
    +regComponent('chapters', true, true)
    +regComponent('date', true, true)
    +regComponent('button-share', true, true)
    +regComponent('reading-time', true, true)
    +regComponent('views', true, true)

    .page-material.case
        .page-material__grid
            .page-material__grid_left
                a(href="./blog").page__back-link
                    +svg("arrow")
                    span Все кейсы
                .page-material__chapters
                    +chapters([
                      {
                        title: 'Введение',
                        link: '#intro'
                      },
                      {
                        title: 'Проблематика',
                        link: '#problems'
                      },
                      {
                        title: 'Цели',
                        link: '#goals'
                      },
                      {
                        title: 'Задачи',
                        link: '#tasks'
                      },
                      {
                        title: 'Первый этап',
                        link: '#st1'
                      },
                      {
                        title: 'Компоненты информационной системы',
                        link: '#st1-components'
                      },
                      {
                        title: 'Второй этап',
                        link: '#st2'
                      },
                      {
                        title: 'Интеграции',
                        link: '#integrations'
                      },
                      {
                        title: 'Результаты',
                        link: '#results'
                      },
                    ])
                .page-material__search-team
                    +searchTeam()
            .page-material__grid_right
                .page__breadcrumbs
                    +breadcrumbs(['Главная', 'Кейсы', 'Внедрение корпоративного портала на Битрикс24 и его интеграция с OPERA для сети отелей «Роза Хутор»'])
                .page-material__content
                    .material-content
                        img(src="./images/page-materials/preview2.jpg", alt="").material-content__preview-image
                        .material-content__inner
                            .material-content__header#intro
                                h1.h2 Внедрение корпоративного портала на Битрикс24 и его интеграция с OPERA для сети отелей «Роза Хутор»
                                .material-content__information
                                    +buttonShare()
                                    +date("23","04","2025")
                                    +readingTime()
                                p.material-content__header_description Магнитогорский металлургический комбинат (ММК) – один из крупнейших металлургических комбинатов России, в котором работает более 53 тысяч сотрудников. Компания активно развивается, внедряя передовые технологии и модернизируя внутренние процессы. Одним из важных направлений для компании является улучшение внутренней коммуникации через цифровые инструменты.
                            .material-content__chapter#problems
                                h2.h3 Проблематика
                                p.text
                                    b Руководство «ММК» 
                                    | для повышения лояльности и увеличения срока сотрудничества с клиентами взял курс на клиентоцентричность и омниканальность при взаимодействии с клиентом. Для этого была необходима полноценная экосистема продаж, связанная с маркетплейсом по торговле металлопродукцией, в которую была бы встроена CRM-система для формирования процессов ценообразования и обеспечения единого клиентского сервиса.
                                p.text
                                    b По направлению Продажи 
                                    | предыдущая CRM-система не предоставляла эффективных инструментов для работы и контроля менеджеров, а также для самоконтроля сотрудников отдела продаж. Отсутствие единого пространства для коммуникаций с клиентами через различные каналы (телефония, электронная почта, мессенджеры, онлайн-чаты) затрудняло взаимодействие.
                                p.text
                                    b Клиенты 
                                    | ожидают модернизации интерфейса системы персонализированного обслуживания и новые инструменты взаимодействия, в том числе в Личном кабинете.
                            .material-content__chapter#goals
                                h2.h3 Цели
                                ul.text
                                    li
                                        p Создание единого рабочего пространства (единого окна) для специалистов направления Продажи и повышение операционной эффективности
                                    li
                                        p Повышение лояльности клиентов
                                    li
                                        p Снижение риска потери клиентской базы
                                    li
                                        p Снижение влияния «человеческого» фактора на процессы приема и обработки заявок на поставку металлопродукции
                                    li
                                        p Переход на российский продукт
                                .blockquote
                                    +svg("quote")
                                    .blockquote__text
                                        blockquote «Основными целями нашего проекта стали улучшение операционной эффективности в области продаж, повышение лояльности клиентов, чтобы избежать неправильной расстановки приоритетов в работе с ними. Особенно важным было уменьшить влияние «человеческого» фактора на процессы приема и обработки заявок на поставку металлопродукции. Мы изучили различные возможности внедрения CRM-системы, отдав предпочтение российским решениям».
                                        cite
                                            span Иван Радюкевич
                                            span Руководитель проекта от ПАО «ММК», начальник управления продаж по РФ
                                //.banner
                                //    +instructionSet()
                            .material-content__chapter#tasks
                                h2.h3 Задачи
                                p.text Приложение позволяет:
                                ol.text
                                    li
                                        p Оптимизировать обмен информацией между менеджерами по продажам, среди внутренних подразделений и контрагентами
                                    li
                                        p Систематизировать контакты клиентов из таблиц в систему для удобства управления и надежного отслеживания ответственных лиц
                                    li
                                        p Обеспечить омниканальный сбор информации по заявкам на поставку продукции и обращениям контрагентов с объединением всей истории событий по каждому клиенту
                                    li
                                        p Встроить маркетинговые инструменты для взаимодействия с B2B-клиентами
                                    li
                                        p Разработать новый личный кабинет потребителя продукции ПАО «ММК» на базе платформы «ММК Маркет»
                                    li
                                        p Реализовать необходимый для бизнеса уровень отчетности и представлений
                                    li
                                        p Реализовать пакет аналитической сводной отчетности для возможности работы с целями объемного планирования и наглядно визуализировать прогнозы в разных каналах продаж
                                    li
                                        p Создать инструменты для работы с заявками на новые виды продукции
                                    li
                                        p Интегрировать новую CRM-систему с ERP-системой Oracle EBS R12

                                .banner
                                    +instructionSet()
                            .material-content__chapter#st1
                                h2.h3 Первый этап
                                p.text Прежде всего была разработана информационная система, ставшая единой цифровой платформой для автоматизации процессов отдела продаж «ММК», что позволило эффективно контролировать работу персонала.
                                p.text В начальный этап работ входило ознакомление команды разработчика с системой продаж «ММК»: специфика и построение номенклатуры, распределение потоков данных продаж по рынкам сбыта и по направлениям продаж и т.д. Важным аспектом проекта является интеграция с системой Oracle EBS R12, которая является мастер-системой для «ММК». Эта система включает в себя множество модулей информационных систем, охватывающих различные аспекты бизнеса, от продаж и складов до HR-управления и отчетности. Проект по внедрению CRM-системы должен обеспечить взаимосвязь и интеграции между этими системами.
                                p.text На данном этапе, так как мастер-система уже успешно функционирует на предприятии, команда разработчиков «Факта» работала на обеспечение взаимосвязи, хранения данных, согласования. Специалисты, учитывая сложности с номенклатурой и многостадийными сделками, фиксировали дополнительные преимущества, которые улучшают функциональность CRM-системы, включая управление звонками, задачами, контроль соответствия, визуализацию данных и настройку бизнес-процессов в Битрикс24. Кроме того, была выполнена настройка и визуализация функционала единого рабочего пространства (единого окна) специалистов дирекции сбыта с использованием стандартных возможностей CRM-системы. Такое решение позволило возможность более оперативно получать, отслеживать и принимать операционные решения в рамках своих обязанностей.
                                figure
                                    img(src="./images/page-materials/case1.jpg", alt="")
                                .material-link
                                    p Про эту настройку у нас есть статья!:
                                        a(href="#")  “Битрикс24 Невесомость: Полный обзор новых инструментов”
                                    a(href="#").btn.primary.medium Читать статью
                                //.banner
                                //    +bannerCrm('crm1.png')
                                //.banner
                                //    +bannerCrm('crm2.png')
                            .material-content__chapter#st1-components
                                h2.h3 Компоненты информационной системы первого этапа
                                .material-collapse
                                    .material-collapse__body
                                        .material-collapse__item
                                            .material-collapse__item_header
                                                .material-collapse__item_title
                                                    span 1.
                                                    p Система обеспечивает омниканальный сбор информации по контрагентам с объединением всей истории событий по каждому клиенту
                                                .material-collapse__item_icon
                                                    span
                                                        +svg("plus")
                                            .material-collapse__item_data
                                                .material-collapse__item_content
                                                    ul.text
                                                        li
                                                            p ERP-система
                                                        li
                                                            p Маркетплейс группы предприятий «ММК»
                                                                a(href="https://market.mmk.ru/", target="_blank")  (market.mmk.ru)
                                                        li
                                                            p Обращения в КЦ (контакт-центр) по различным каналам коммуникаций
                                                        li
                                                            p Электронный архив документов
                                                        li
                                                            p ИС по претензиям и рекламациям
                                                        li
                                                            p Справочники номенклатуры
                                                    p.text Обращения по e-mail (заявка на покупку, претензия, вопрос по исполнению заказа, вопросы технического характера и т.д.). В том числе возможность корректировки базы данных в системе.
                                        .material-collapse__item
                                            .material-collapse__item_header
                                                .material-collapse__item_title
                                                    span 2.
                                                    p Разработали автоматизированное рабочее место для Менеджера по продажам.
                                                .material-collapse__item_icon
                                                    span
                                                        +svg("plus")
                                            .material-collapse__item_data
                                                .material-collapse__item_content
                                                    ul.text
                                                        li
                                                            p ERP-система
                                                        li
                                                            p Маркетплейс группы предприятий «ММК»
                                                                a(href="https://market.mmk.ru/", target="_blank")  (market.mmk.ru)
                                                        li
                                                            p Обращения в КЦ (контакт-центр) по различным каналам коммуникаций
                                                        li
                                                            p Электронный архив документов
                                                        li
                                                            p ИС по претензиям и рекламациям
                                                        li
                                                            p Справочники номенклатуры
                                                    p.text Обращения по e-mail (заявка на покупку, претензия, вопрос по исполнению заказа, вопросы технического характера и т.д.). В том числе возможность корректировки базы данных в системе.
                                        .material-collapse__item
                                            .material-collapse__item_header
                                                .material-collapse__item_title
                                                    span 3.
                                                    p Функционал для автоматизированного рабочего места Руководителя.
                                                .material-collapse__item_icon
                                                    span
                                                        +svg("plus")
                                            .material-collapse__item_data
                                                .material-collapse__item_content
                                                    ul.text
                                                        li
                                                            p ERP-система
                                                        li
                                                            p Маркетплейс группы предприятий «ММК»
                                                                a(href="https://market.mmk.ru/", target="_blank")  (market.mmk.ru)
                                                        li
                                                            p Обращения в КЦ (контакт-центр) по различным каналам коммуникаций
                                                        li
                                                            p Электронный архив документов
                                                        li
                                                            p ИС по претензиям и рекламациям
                                                        li
                                                            p Справочники номенклатуры
                                                    p.text Обращения по e-mail (заявка на покупку, претензия, вопрос по исполнению заказа, вопросы технического характера и т.д.). В том числе возможность корректировки базы данных в системе.
                                .material-swiper
                                    .swiper
                                        .swiper-wrapper
                                            .swiper-slide
                                                img(src="./images/page-materials/case-swiper1.jpg", alt="")
                                            .swiper-slide
                                                img(src="./images/page-materials/case-swiper2.jpg", alt="")
                                            .swiper-slide
                                                img(src="./images/page-materials/case-swiper3.jpg", alt="")
                                            .swiper-slide
                                                img(src="./images/page-materials/case-swiper4.jpg", alt="")
                                        .swiper-pagination
                                        .swiper-button-prev
                                            +animateButton('prev').prev
                                        .swiper-button-next
                                            +animateButton('next').next
                            .material-content__chapter#st2
                                h2.h3 Второй этап
                                p.text Во втором этапе проекта реализованы задачи, связанные с мотивацией сотрудников, работой контакт-центра, который общался с потенциальными клиентами, еще не заключившими договор с «ММК».
                                p.text Был внедрен особый функционал для маркетологов, проводящих опросы клиентов и отслеживающих их лояльность. Кроме того, были предусмотрены функции, связанные с новыми видами продукции металлопроката и решением запросов клиентов, включая специфические характеристики, химические и технические данные, которые необходимы клиенту. Эти заявки проходили через отдел сбыта, а затем к их решению подключались отдел маркетинга и научно-технический центр группы компаний ПАО «ММК». Был внедрен масштабный функционал, связанный с управлением новыми видами продукции, а также планирование и прогнозирование, включая контроль прогнозных и плановых показателей и их визуализация в едином интерфейсе АРМ планирования.
                                figure
                                    img(src="./images/page-materials/case2.jpg", alt="")
                            .material-content__chapter#integrations
                                h2.h3 Второй этап
                                p.text Новая CRM интегрирована с внутренним ИТ-ландшафтом «ММК», чтобы организовать бесшовное взаимодействие всех участников бизнес-процессов, обеспечивая прозрачность и прослеживаемость действий, а также высокий уровень сервиса и поддержки клиентов.
                                p.text CRM-система интегрирована:
                                ol.text
                                    li
                                        p С корпоративной ИС управления ПАО «ММК» (на базе OEBS R12);
                                    li
                                        p С Active Directory;
                                    li
                                        p С Outlook/Exchange;
                                    li
                                        p С телефонией Avaya Aura Contact Center, Avaya ATC;
                                    li
                                        p С маркетплейсом группы предприятий «ММК» market.mmk.ru (на базе 1С-Битрикс: Управление сайтом). Представляет собой функционал личного кабинета. Используется два типа личных кабинетов: один, основанный на тех, что используются в Торговом доме ПАО «ММК», и второй, разработанный с учетом потребностей заказов от дирекции сбыта по «ОМК».
                                table
                                    tr
                                        th Месяц/Год
                                        th Стоимость заявки
                                        th Конверсия лендинга
                                    tr
                                        td Июль 2022
                                        td 327,77 ₽
                                        td 5,63%
                                    tr
                                        td Август 2022
                                        td 260,61 ₽
                                        td 8,09%
                                    tr
                                        td Сентябрь 2022
                                        td 289,37 ₽
                                        td 7,22%
                                    tr
                                        td Октябрь 2022
                                        td 251,38 ₽
                                        td 9,61%
                                    tr
                                        td Ноябрь 2022
                                        td 387,19 ₽
                                        td 6,18%
                                    tr
                                        td Декабрь 2022
                                        td 343,27 ₽
                                        td 8,82%
                                    tr
                                        td Январь 2023
                                        td 372,59 ₽
                                        td 6,63%
                                .banner
                                    +bannerCrm('crm2.png')
                            .material-content__chapter#results
                                h2.h3 Результаты
                                p.text Ключевым результатом внедрения CRM стало значительное увеличение скорости и качества обработки запросов. Специалист теперь видит всю необходимую информацию в одном окне и может принимать решения мгновенно. Он сразу понимает, кто клиент, кто его менеджер, по какому заказу клиент обратился, может посмотреть позиции в заказе и узнать об участии клиента в программе лояльности и полученных бонусах.
                                ol.text
                                    li
                                        p Было создано единое рабочее пространство (единое окно) для отдела продаж, что упростило процессы взаимодействия и обмена информацией внутри компании
                                    li
                                        p Эффективность работы отдела продаж была повышена, что привело к более оперативному выполнению задач и улучшению обслуживания клиентов
                                    li
                                        p Благодаря внедрению российского продукта была создана возможность для компании перехода на отечественные решения, что способствует повышению независимости и снижению рисков
                                    li
                                        p Адаптировано мобильное приложение для оперативной работы с заказами и клиентами, получения доступа к необходимой информации, управления задачами и коммуникациями
                                    li
                                        p Специалисты сбыта получили возможность проводить опросы как существующих потребителей продукции, выбирая их по необходимым критериям, но и потенциальных клиентов
                                    li
                                        p Специалисты группы технической поддержки получили удобный механизм быстрого  поиска связанных заказов по претензии и контроля сроков рассмотрения
                                    li
                                        p Потребитель получил современный Личный кабинет, позволяющий отслеживать как заказы, так и направленные претензии, самостоятельно формировать заявку на основе актуальной номенклатуры товаров «ММК»
                            .material-content__form
                                +formLiveDemo()
                            .material-content__footer
                                .material-content__tags
                                    p.material-content__tags_text Теги:
                                    ul.material-content__tags_items
                                        li
                                            span #CRM Битрикс24
                                        li
                                            span #B2B
                                        li
                                            span #Производство и дистрибуция
                                +buttonShare("Поделиться")
        .page-material__see-also
            +seeAlso()
