@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// seo-block
.seo-block {

  &__content {
    position: relative;
    max-height: 215px;
    overflow: hidden;
    transition: max-height $transition-default;

    @include semiDesktop {
      max-height: 145px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 110px;
      z-index: 1;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
      opacity: 1;
      visibility: visible;
      pointer-events: none;
      transition: opacity $transition-default, visibility $transition-default;
    }

    &.show-all {
      &::before {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__wrap {

    p {
      font-weight: 450;
      font-size: 14px;
      line-height: 1.4;
      color: $text;

      @include semiDesktop {
        font-size: 18px;
      }
    }

    p + p {
      margin-top: 15px;
    }
  }

  &__button {
    margin-top: 30px;
    font-weight: 450;
    font-size: 18px;
    line-height: 1.24;
    color: $blue;
  }
}