@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// date
.date {
  display: flex;
  align-items: center;
  font-weight: 450;
  font-size: 13px;
  line-height: 1.24;
  color: $grey-blue;

  @include tablet {
    font-size: 14px;
  }

  span {
    position: relative;
    display: block;

    &:not(:last-child) {
      padding-right: 12px;

      &::before {
        content: '/';
        position: absolute;
        top: 0;
        right: 3px;
        bottom: 0;
        margin: auto 0;
      }
    }
  }
}
