@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// banner-crm
.banner-crm {
  position: relative;
  border-radius: 16px;
  padding: 22px;
  background-color: #101a30;
  overflow: hidden;

  @include tablet {
    padding: 40px 50px;
  }

  &__body {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 20px;

    @include tablet {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  &__description {
    max-width: 460px;
  }

  &__title {
    font-weight: 500;
    font-size: 26px;
    line-height: 1.24;
    color: $white;
  }

  &__text {
    margin-top: 20px;
    font-weight: 450;
    font-size: 18px;
    line-height: 1.4;
    color: $white;
  }

  &__button {
    display: flex;
    margin-top: 40px;
    margin-inline: auto;

    @include tablet {
      margin-inline: 0;
    }
  }

  &__image {
    display: block;
    object-fit: contain;
    max-width: 200px;
    min-width: 100px;
    width: 100%;
    pointer-events: none;
    overflow: hidden;

    @include tablet {
      max-width: 270px;
      min-width: 150px;
    }
  }

  &__bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
}
