@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// modal-form
.modal-form {

  &__body {}

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: $black;
    max-width: 570px;

    @include tablet {
      font-size: 34px;
    }

    @include desktop {
      font-size: 44px;
    }
  }

  &__description {
    margin-top: 16px;
    font-weight: 450;
  }

  &__content {
    margin-top: 40px;
  }
}
