@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// company
.company-page {

  &__breadcrumbs {

  }


  section {
    &:not(:nth-child(1)):not(:nth-child(2)) {
      margin-top: 60px;

      @include desktop {
        margin-top: 100px;
      }

      @include laptop {
        margin-top: 160px;
      }
    }

    p.h2 {

      span {
        color: $light-grey;
      }
    }

    .description {
      margin-top: 10px;
      font-weight: 450;
      font-size: 16px;
      line-height: 1.4;
      color: $text;

      @include tablet {
        margin-top: 20px;
        font-size: 24px;
      }
    }
  }

  &__main {
    position: relative;
    padding-bottom: 60px;

    @include tablet {
      padding-bottom: 100px;
    }

    @include desktop {
      padding-bottom: 135px;
    }

    @include laptop {
      padding-bottom: 240px;
    }

    &--left {}

    &--right {}

    &--animate {
      display: none;
      position: absolute;
      top: 50px;
      right: 0;
      bottom: 0;
      width: 500px;
      height: 350px;
      z-index: -1;

      @include semiDesktop {
        display: block;
      }

      @include desktop {
        top: 0;
        width: 700px;
        height: 550px;
      }

      @include laptop {
        top: -100px;
        right: -190px;
        width: 900px;
        height: 750px;
      }

      video {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__title {
    margin-top: 20px;

    @include tablet {
      margin-top: 40px;
    }

    @include semiDesktop {
      margin-top: 80px;
      max-width: 600px;
    }

    @include laptop {
      max-width: 850px;
    }

    span {
      color: $light-grey;
    }
  }

  &__expirience {
    p.h2 {
      margin-bottom: 30px;

      @include semiDesktop {
        margin-bottom: 60px;
      }
    }
  }

  &__tech-expertise {

    .technologies {
      margin-top: 60px;
    }
  }

  &__rating {

    .company-rating {
      margin-top: 30px;

      @include tablet {
        margin-top: 60px;
      }
    }
  }

  &__steps {

    &--header {
      display: grid;
      grid-template-columns: 100%;

      @include semiDesktop {
        grid-template-columns: 0.5fr 1fr;
        gap: 40px;
        justify-content: space-between;
      }
    }

    p.h2 {
      max-width: 975px;
      margin-left: auto;
    }

    .animate-steps {
      margin-top: 30px;

      @include tablet {
        margin-top: 60px;
      }
    }
  }

  &__certificates {

    .certificates-slider {

      @include tablet {
        margin-top: 20px;
      }
    }
  }

  &__companies {

    .companies-swipers {
      margin-top: 40px;

      @include tablet {
        margin-top: 60px;
      }

      @include desktop {
        margin-top: 100px;
      }
    }
  }

  &__history {

  }
}
