@use '../mixins' as *;

.container {
    width: 100%;
    max-width: 1510px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @include tablet {
        max-width: 1520px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @include desktop {
        max-width: 1540px;
        padding-left: 30px;
        padding-right: 30px;
    }

    @include laptop {
        max-width: 1560px;
        padding-left: 40px;
        padding-right: 40px;
    }
}
