@use '../variables.scss' as *;
@use '../mixins.scss' as *;

.implementation-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include semiDesktop {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .implementation-card {

    @include semiDesktop {
      flex: 0 1 calc(50% - 20px);
    }

    &:first-child {

      @include desktop {
        flex: 0 1 100%;

        .implementation-card__body {
          display: grid;
          grid-template-columns: .35fr .57fr;
          grid-template-areas: "header info"
                              "footer info";
          gap: 0 20px;
          justify-content: space-between;
        }

        .implementation-card__header {
          grid-area: header;
        }
        .implementation-card__info {
          grid-area: info;
          margin-bottom: 0;
        }
        .implementation-card__footer {
          grid-area: footer;
          margin-top: auto;
        }
      }
    }

  }
}

.implementation-card {
  background-color: $white;
  border-radius: 16px;
  padding: 40px;

  &__body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__header {}

  &__logo {
    img {
      pointer-events: none;
    }
  }

  &__title {
    margin-top: 30px;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.24;
    color: #191b36;
    max-width: 510px;
  }

  &__info {
    margin-top: 40px;
    margin-bottom: 70px;

    &--list {

      & > p {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.24;
        color: #191b36;
      }

      & > ul {
        margin-top: 16px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        li {
          list-style-type: disc;
          //list-style-position: inside;
          font-weight: 450;
          font-size: 18px;
          line-height: 1.4;
          color: #3f4162;

          &::marker {
            color: $blue;
          }
        }
      }
    }

    &--description {

      p {
        font-weight: 450;
        font-size: 18px;
        line-height: 1.4;
        color: #3f4162;
      }
    }

    &--description + &--list {
      margin-top: 40px;
    }

    &--list + &--list {
      margin-top: 40px;
    }
  }

  &__footer {
    //margin-top: 70px;
    margin-top: auto;

    & > span {
      font-weight: 450;
      font-size: 16px;
      line-height: 1.4;
      color: #abb1c3;
    }
  }

  &__tags {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    li {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 6px 14px;
      border-radius: 10px;
      background: $background;

      span {
        font-weight: 450;
        font-size: 14px;
        line-height: 1.57143;
        color: $grey-blue;
      }
    }
  }
}
