@use '../variables.scss' as *;

:root {
  --seg-bg: #f5f5f5;
  --seg-active-bg: #fff;
  --seg-border: #d9d9d9;
  --seg-color: #333;
  --seg-active-color: #1677ff;
  --seg-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --seg-radius: 8px;
}

.segmented {
  display: flex;
  background: var(--seg-bg);
  border-radius: var(--seg-radius);
  padding: 4px;
  border: 1px solid var(--seg-border);
  user-select: none;
  font-family: inherit;
  box-shadow: var(--seg-shadow);
  overflow: hidden;

  &__wrap {
    position: relative;
    display: flex;
    border-radius: var(--seg-radius);
    width: 100%;
    //overflow: hidden;
  }

  &__item {
    position: relative;
    z-index: 2;
    flex: 1;
    padding: 6px 16px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--seg-color);
    border-radius: calc(var(--seg-radius) - 2px);
    transition: all $transition-default;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    white-space: nowrap;

    &:hover {
      color: var(--seg-active-color);
    }

    &.active {
      color: var(--seg-active-color);
    }
  }

  &__thumb {
    position: absolute;
    z-index: 1;
    //height: 100%;
    background: var(--seg-active-bg);
    border-radius: calc(var(--seg-radius) - 2px);
    box-shadow: var(--seg-shadow);
    transition: all $transition-default;
    will-change: transform, width;
  }
}
