@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// animate-steps
.animate-steps {
  position: relative;
  overflow: hidden;

  &__body {
    display: grid;
    grid-template-columns: 100%;

    @include semiDesktop {
      grid-template-columns: 0.5fr 1fr;
      gap: 40px;
      justify-content: space-between;
    }
  }

  &__image {
    margin-top: 200px;
    flex: 0 0 auto;
    position: relative;
    display: none;
    overflow: hidden;

    @include semiDesktop {
      display: flex;
      width: 250px;
      height: 220px;
    }

    @include w1250 {
      width: 360px;
      height: 320px;
    }

    img {
      width: 100%;
      height: 100%;
    }

    img.colored {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      clip-path: inset(100% 0 0);
    }
  }

  &__cards {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    width: 100%;

    @include semiDesktop {
      gap: 60px 0;
      max-width: 850px;
    }
  }

  &__card {
    will-change: opacity;
    position: relative;
    border: 1px solid $line-grey;
    border-radius: 16px;
    padding: 20px 80px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    min-height: 250px;
    background-color: $white;

    @include semiDesktop {
      padding: 30px 100px 30px 30px;
      min-height: 300px;
    }

    @include laptop {
      padding: 40px 120px 40px 40px;
      min-height: 380px;
    }

    &--index {
      position: absolute;
      top: 30px;
      right: 30px;
      font-weight: 500;
      font-size: 34px;
      line-height: 1;
      letter-spacing: -0.02em;
      text-align: right;
      color: $blue;

      @include semiDesktop {
        font-size: 54px;
      }

      @include laptop {
        font-size: 70px;
      }
    }

    &--title {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.1;
      letter-spacing: -0.02em;
      color: $blue;
      max-width: 560px;

      @include semiDesktop {
        font-size: 34px;
      }

      @include laptop {
        font-size: 44px;
      }
    }

    &--text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.4;
      color: $text;
      max-width: 550px;

      @include semiDesktop {
        font-size: 18px;
      }

      @include laptop {
        font-size: 20px;
      }
    }
  }
}
