@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// case-card
.case-card {
  position: relative;
  padding: 22px;
  border-radius: 16px;
  overflow: hidden;
  background-color: $white;
  width: 345px;
  min-height: 340px;

  @include tablet {
    padding: 30px;
    width: 480px;
    min-height: 500px;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    border: 1px solid $stroke;
    border-radius: 16px;
    transition: border-width $transition-default, border-color $transition-default;
  }

  &:hover {
    &::before {
      border-width: 8px;
      border-color: $bg-soft;
    }

    .case-card__icon {
      svg {
        &:nth-child(1) {
          transform: translate(200%, -200%);
        }

        &:nth-child(2) {
          transform: translate(0, 0);
        }
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100%;
  }

  &__logo {
    display: flex;
    height: 55px;

    @include tablet {
      height: 70px;
    }

    img {
      max-width: 180px;
      max-height: 55px;
      object-fit: contain;
      pointer-events: none;

      @include tablet {
        max-width: 254px;
        max-height: 70px;
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.24;
    color: $black;
    max-width: 360px;

    @include tablet {
      font-size: 26px;
    }
  }

  &__tags {
    margin-top: auto;

    &_list {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 450;
      font-size: 12px;
      line-height: 1.57;
      color: $grey-blue;
      border-radius: 10px;
      padding: 5px 12px;
      background-color: $background;

      @include tablet {
        padding: 6px 14px;
        font-size: 14px;
      }
    }
  }

  &__link {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  &__icon {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    z-index: 1;
    overflow: hidden;

    svg {
      position: absolute;
      inset: 0;
      margin: auto;
      flex: 0 0 auto;
      width: 19px;
      height: 19px;
      transition: transform $transition-default, color $transition-default;

      &:nth-child(1) {
        color: $line-grey;
        transform: translate(0, 0);
      }

      &:nth-child(2) {
        color: $blue;
        transform: translate(-200%, 200%);
      }
    }
  }
}
