@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// button-share
.button-share {
  position: relative;

  &__button {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: 46px;
    height: 46px;

    &--icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      background-color: $background;
      padding: 14px;

      .icon {
        width: 18px;
        height: 18px;
        color: $grey-blue;
      }
    }

    &--text {
      font-weight: 450;
      font-size: 14px;
      line-height: 1.57143;
      color: $grey-blue;
    }
  }

  .button-share-tooltip {
    display: none;
    position: absolute;
    left: 0;
    top: 55px;
    border-radius: 16px;
    padding-block: 10px;
    padding-inline: 10px;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.1);
    background: $white;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity $transition-default, visibility $transition-default;

    @include mobile {
      padding-block: 20px 10px;
      padding-inline: 20px;
    }

    &.below {
      top: 100%;
      bottom: auto;
      transform: translateY(8px);
    }

    &.above {
      bottom: 100%;
      top: auto;
      transform: translateY(-8px);
    }

    &__body {}

    &__socials {
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding-bottom: 10px;
      border-bottom: 1px solid $stroke;

      li {

        a {


        }
      }

    }

    &__item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding-block: 4px;
      font-weight: 450;
      font-size: 15px;
      line-height: 1.24;
      color: $text;
      white-space: nowrap;

      @include mobile {
        font-size: 16px;
      }

      svg {
        flex: 0 0 auto;
        width: 24px;
        height: 24px;
        color: $text;

        @include mobile {
          width: 28px;
          height: 28px;
        }
      }

      &:hover {
        svg {
          transform: scale(1.05);
        }
      }
    }

    &__footer {
      padding-top: 4px;
    }

    &__copy-link {

    }
  }

  &.active {
    .button-share-tooltip {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
}
