//Onest
@font-face {
  font-family: 'Onest';
  src: url('../fonts/onest/Onest-Regular.eot');
  src: url('../fonts/onest/Onest-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/onest/Onest-Regular.otf') format('otf'),
  url('../fonts/onest/Onest-Regular.woff2') format('woff2'),
  url('../fonts/onest/Onest-Regular.woff') format('woff'),
  url('../fonts/onest/Onest-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//Inter
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/Inter-Regular.eot');
  src: url('../fonts/inter/Inter-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/inter/Inter-Regular.otf') format('otf'),
  url('../fonts/inter/Inter-Regular.woff2') format('woff2'),
  url('../fonts/inter/Inter-Regular.woff') format('woff'),
  url('../fonts/inter/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/Inter-Medium.eot');
  src: url('../fonts/inter/Inter-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/inter/Inter-Medium.otf') format('otf'),
  url('../fonts/inter/Inter-Medium.woff2') format('woff2'),
  url('../fonts/inter/Inter-Medium.woff') format('woff'),
  url('../fonts/inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

//TT-Firs
@font-face {
  font-family: 'TT Firs Text Variable';
  src: url('../fonts/tt-firs/TT_Firs_Text_Regular.eot');
  src: url('../fonts/tt-firs/TT_Firs_Text_Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/tt-firs/TT_Firs_Text_Regular.otf') format('otf'),
  url('../fonts/tt-firs/TT_Firs_Text_Regular.woff2') format('woff2'),
  url('../fonts/tt-firs/TT_Firs_Text_Regular.woff') format('woff'),
  url('../fonts/tt-firs/TT_Firs_Text_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TT Firs Text Variable';
  src: url('../fonts/tt-firs/TT_Firs_Text_Normal.eot');
  src: url('../fonts/tt-firs/TT_Firs_Text_Normal.eot?#iefix') format('embedded-opentype'),
  url('../fonts/tt-firs/TT_Firs_Text_Normal.otf') format('otf'),
  url('../fonts/tt-firs/TT_Firs_Text_Normal.woff2') format('woff2'),
  url('../fonts/tt-firs/TT_Firs_Text_Normal.woff') format('woff'),
  url('../fonts/tt-firs/TT_Firs_Text_Normal.ttf') format('truetype');
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TT Firs Text Variable';
  src: url('../fonts/tt-firs/TT_Firs_Text_Medium.eot');
  src: url('../fonts/tt-firs/TT_Firs_Text_Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/tt-firs/TT_Firs_Text_Medium.otf') format('otf'),
  url('../fonts/tt-firs/TT_Firs_Text_Medium.woff2') format('woff2'),
  url('../fonts/tt-firs/TT_Firs_Text_Medium.woff') format('woff'),
  url('../fonts/tt-firs/TT_Firs_Text_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
