$font-family: "TT Firs Text Variable", sans-serif;
$second-family: "Inter", sans-serif;
$third-family: "Onest", sans-serif;

$transition-default: .3s ease-in-out;
$transition-default6: .6s ease-in-out;

$color-black: #303030;
$color-red: red;
$color-blue: blue;

$blue-900: #0B1731;
$blue-850: #0A1C46;
$blue-700: #004DCC;
$blue-600: #0061FF;
$gray-400: #C9CFDD;
$gray-100: #E7EAF8;
$bg-soft: #F6F8FF;
$red-600: #FF3B30;
$white: #ffffff;
$black: #191B36;
$light-grey: #ABB1C3;
$grey-blue: #6C789C;
$line-grey: #D9DDE9;
$blue-light: #9ABCFF;
$orange: #F3530F;
$stroke: #EBEEF5;
$blue: #1E65F4;
$background: #F6F8FE;
$text: #3F4162;
$color-link: #1352d1;
$backimages: #0C1323;

$radius-sm: 6px;
$radius-md: 12px;
$radius-lg: 16px;
$shadow-card: 0 8px 40px rgba(6, 17, 52, .18);
$color-link-hover: #000;
$transition: .3s ease-in-out;

$breakpoint-w1650: 1650px;
$breakpoint-laptop: 1440px;
$breakpoint-w1250: 1250px;
$breakpoint-desktop: 1024px;
$breakpoint-semiDesktop: 992px;
$breakpoint-tablet: 768px;
$breakpoint-w650: 650px;
$breakpoint-mobile: 550px;
$breakpoint-small: 480px;
