mixin aiChat()
  //- регистрация
  //- +regLibrary('lib-name/lib.css', 'lib-name/lib.js')
  //- +regComponent('component-name', true, true)

  //ai-chat
  .ai-chat&attributes(attributes)
    h2 Блок ai-chat