@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// faces-row
.faces-row {
  position: relative;
  height: 50px;

  @include desktop {
    height: 70px;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid $background;

    @include desktop {
      width: 70px;
      height: 70px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      pointer-events: none;
    }

    &:nth-child(2) {
      left: 30px;

      @include desktop {
        left: 50px;
      }
    }

    &:nth-child(3) {
      left: 60px;

      @include desktop {
        left: 100px;
      }
    }

    &:nth-child(4) {
      left: 90px;

      @include desktop {
        left: 150px;
      }
    }
  }

  &__count {
    font-weight: 450;
    font-size: 22px;
    line-height: 1.26;
    color: $light-grey;
    background-color: $white;
  }
}
