@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// modal
.modal {
	display: none;
	opacity: 0;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background-color: rgba($black, .12);
	transition: opacity $transition-default;

	&--show {
		opacity: 1;
	}

	&__window {
		opacity: 0;
		transform: translateY(20%);
		position: relative;
		width: 100%;
		max-width: calc(100% - 30px);
		margin: auto;
		padding: 30px 20px;
		background-color: #fff;
		border-radius: 20px;
		transition: opacity $transition-default, transform $transition-default;

		@include desktop {
			max-width: 584px;
			padding: 50px;
		}

		.modal--show & {
			opacity: 1;
			transform: none;
		}
	}

	&__title {
		margin-bottom: 16px;
		padding-right: 10px;
		font-size: 24px;
		line-height: 1.1;
		font-weight: 500;
		letter-spacing: -0.01em;
		color: $color-black;

		@include desktop {
			margin-bottom: 20px;
			padding-right: 0;
			font-size: 40px;
			line-height: 1;
		}
	}

	&__text {
		margin-bottom: 30px;
		font-size: 15px;
		line-height: 1.36;
		letter-spacing: -0.01em;
		color: #000;

		@include desktop {
			margin-bottom: 40px;
			font-size: 18px;
		}
	}

	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 16px;
		height: 16px;
		border: none;
		background-color: transparent;

		&:hover {
			svg {
				color: $color-black;
			}
		}

		svg {
			width: 100%;
			height: 100%;
			color: $grey-blue;
			transition: color $transition-default;
		}
	}
}

.modal-success {

	.modal__window {

		@include desktop {
			max-width: 450px;
		}
	}

	&__content {

		&_icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 60px;
			height: 60px;
			margin-inline: auto;
			pointer-events: none;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		&_title {
			font-weight: 500;
			font-size: 44px;
			line-height: 1.1;
			letter-spacing: -0.02em;
			color: $black;
			text-align: center;
		}

		&_text {
			margin-top: 10px;
			font-weight: 450;
			font-size: 24px;
			line-height: 1.4;
			color: $text;
			text-align: center;
		}

		&_note {
			margin-top: 24px;
			font-weight: 450;
			font-size: 20px;
			line-height: 1.4;
			text-align: center;
			color: $grey-blue;
			max-width: 340px;
			margin-inline: auto;
		}
	}
}

.modal-consultation,
.modal-analysis,
.modal-team,
.modal-live-demo,
.modal-tender,
.modal-case {
	.modal__window {

		@include desktop {
			max-width: 680px;
		}
	}
}

.modal-city {

	.modal__window {
		max-width: 855px;

		@media (max-width: 767px) {
			height: 100vh;
			max-height: 100vh;
			transform: translateY(-100%);
			border-radius: 0;
			margin: 0;
		}
	}

	&.modal--show {
		.modal__window {
			@media (max-width: 767px) {
				transform: translateY(0);
			}
		}
	}
}

.modal-license {
	.modal__window {
		max-width: 655px;

		@media (max-width: 767px) {
			max-width: 95%;
		}
	}
}
