mixin noTimeRead()
    //- регистрация
    //- +regLibrary('lib-name/lib.css', 'lib-name/lib.js')
    //- +regComponent('component-name', true, true)

    //no-time-read
    .no-time-read&attributes(attributes)
        p Нет времени читать?
        button(data-modal="consultation").btn.primary.medium Получить консультацию
