@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// banner-tariff-selection
.banner-tariff-selection {
  position: relative;
  border-radius: 20px;
  background: $background;

  @include semiDesktop {
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-image: url("../../images/banners/tariff-selection-blur.png");
    }
  }

  &__body {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 20px 30px 20px;
    gap: 25px 0;

    @include semiDesktop {
      display: block;
      padding: 60px 60px 55px 60px;
    }

  }

  &__info {

    &--title {}

    &--text {
      margin-top: 16px;
      font-weight: 450;
      font-size: 16px;
      line-height: 1.4;
      color: $text;
      max-width: 880px;

      @include tablet {
        margin-top: 20px;
        font-size: 20px;
      }

      @include desktop {
        font-size: 24px;
      }
    }
  }

  &__button {
    margin-top: 30px;
    width: 100%;

    @include tablet {
      width: auto;
    }

    @include desktop {
      margin-top: 80px;
    }
  }

  &__image {
    position: relative;
    display: flex;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 60px;
      width: 100%;
      background: linear-gradient(180deg, rgba(246, 248, 254, 0) 0%, #f6f8fe 100%);
      transition: background $transition-default;
    }


    @include semiDesktop {
      position: absolute;
      right: 55px;
      bottom: 0;
      z-index: -1;

      &::before {
        background: transparent;
      }
    }

    img {
      max-width: 240px;
      width: 100%;
      height: auto;
      object-fit: contain;
      pointer-events: none;
      transition: opacity $transition-default;

      @include tablet {
        max-width: 400px;
      }

      @include semiDesktop {
        opacity: .4;
      }

      @include w1250 {
        max-width: 517px;
      }

      @include laptop {
        opacity: 1;
      }
    }
  }
}
