@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// services-showcase
.services-showcase {

  &__title {
  }

  &__items {
    margin-top: 30px;
  }

  &__item {
    position: relative;
    border-bottom: 1px solid $line-grey;
    padding-block: 20px 30px;
    display: grid;
    grid-template-areas: "index link icon"
                          ". text ."
                          ". list .";
    grid-template-columns: 30px calc(100% - 30px - 20px - 34px) auto;
    gap: 0 10px;

    @include tablet {
      padding-block: 30px;
      grid-template-columns: 150px calc(100% - 150px - 40px - 34px) auto;
    }

    @include desktop {
      gap: 0 40px;
      padding-block: 40px;
      grid-template-columns: 340px calc(100% - 340px - 80px - 34px) auto;
    }

    &--index {
      grid-area: index;

      span {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.1;
        letter-spacing: -0.02em;
        color: $light-grey;

        @include tablet {
          font-size: 16px;
        }

        @include desktop {
          font-size: 20px;
        }
      }
    }

    &--icon {
      grid-area: icon;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      overflow: hidden;

      @include desktop {
        width: 34px;
        height: 34px;
      }

      svg {
        position: absolute;
        inset: 0;
        margin: auto;
        flex: 0 0 auto;
        width: 16px;
        height: 16px;
        transition: transform $transition-default, color $transition-default;

        &:nth-child(1) {
          color: $line-grey;
          transform: translate(0, 0);
        }

        &:nth-child(2) {
          color: $blue;
          transform: translate(-200%, 200%);
        }

        @include desktop {
          width: 19px;
          height: 19px;
        }
      }
    }

    &--link {
      grid-area: link;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.24;
      letter-spacing: -0.02em;
      color: $black;

      @include tablet {
        font-size: 24px;
      }

      @include desktop {
        font-size: 30px;
      }
    }

    &--list {
      grid-area: list;
      margin-top: 14px;
      display: flex;
      flex-direction: column;

      @include desktop {
        margin-top: 16px;
      }
    }

    &--text {
      margin-top: 16px;
      grid-area: text;
      font-weight: 450;
      font-size: 14px;
      line-height: 1.4;
      color: $text;
      max-width: 720px;

      @include tablet {
        margin-top: 20px;
        font-size: 16px;
      }

      @include desktop {
        margin-top: 24px;
        font-size: 18px;
      }
    }

    &--sublink {
      position: relative;
      display: inline-block;
      font-weight: 450;
      font-size: 16px;
      line-height: 1.24;
      color: $text;
      padding-block: 8px;

      & > p {
        transition: transform $transition-default, color $transition-default;
      }

      @include tablet {
        font-size: 18px;
      }

      @include desktop {
        font-size: 20px;
      }

      & > span {
        position: absolute;
        top: 9px;
        left: -30px;
        width: auto;
        height: auto;
        opacity: 0;
        visibility: hidden;
        transition: opacity $transition-default, visibility $transition-default;

        svg {
          width: 18px;
          height: 9px;
        }
      }

      &:hover {
        color: $color-link;

        & > p {
          transform: translateX(5px);
        }

        & > span {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &:hover {
      .services-showcase__item--icon {
        svg {
          &:nth-child(1) {
            transform: translate(200%, -200%);
          }

          &:nth-child(2) {
            transform: translate(0, 0);
          }
        }
      }

      .services-showcase__item--link {
        color: $color-link;
      }
    }
  }


}
