.contacts-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  background-color: #eee;
}
.contacts-form__row {
  display: grid;
  grid-template: auto/repeat(2, minmax(0, 1fr));
  grid-gap: 10px;
}