.faces-row {
  position: relative;
  height: 50px;
}
@media (min-width: 1024px) {
  .faces-row {
    height: 70px;
  }
}
.faces-row span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 2px solid #F6F8FE;
}
@media (min-width: 1024px) {
  .faces-row span {
    width: 70px;
    height: 70px;
  }
}
.faces-row span img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}
.faces-row span:nth-child(2) {
  left: 30px;
}
@media (min-width: 1024px) {
  .faces-row span:nth-child(2) {
    left: 50px;
  }
}
.faces-row span:nth-child(3) {
  left: 60px;
}
@media (min-width: 1024px) {
  .faces-row span:nth-child(3) {
    left: 100px;
  }
}
.faces-row span:nth-child(4) {
  left: 90px;
}
@media (min-width: 1024px) {
  .faces-row span:nth-child(4) {
    left: 150px;
  }
}
.faces-row__count {
  font-weight: 450;
  font-size: 22px;
  line-height: 1.26;
  color: #ABB1C3;
  background-color: #ffffff;
}