@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// main-section
.main-section {

  &__body {

  }

  &__title {
    position: relative;
    z-index: 1;
    pointer-events: none;
    color: $white;
    max-width: 1072px;
  }

  &__middle {
    margin-top: 16px;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
            "description"
            "tags";
    gap: 24px 0;


    @include semiDesktop {
      margin-top: 40px;
      grid-template-columns: auto auto;
      grid-template-areas: "tags description";
      justify-content: space-between;
      gap: 0 50px;
    }
  }

  &__tags {
    grid-area: tags;
    pointer-events: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px 10px;
    max-width: 870px;

    @include semiDesktop {
      gap: 20px;
    }

    .btn.calypso {
      background: rgba(255, 255, 255, 0.1);
      border: none;

      @media (max-width: 768px) {
        padding: 9px 14px 9px 8px;

        .calypso__inner {
          gap: 2px;
        }

        .calypso__icon {
          span {

            &:nth-child(1) {
              svg {
                width: 4px;
                height: 4px;
              }
            }

            &:nth-child(2) {
              svg {
                width: 10px;
                height: 10px;
              }
            }
          }
        }

        .calypso__text {
          font-size: 12px;
        }
      }

      &::before, &::after {
        background: $color-link;
      }

      .calypso__inner {
        mix-blend-mode: normal;
      }
    }
  }

  &__description {
    grid-area: description;
    pointer-events: none;
    position: relative;
    z-index: 1;
    font-weight: 450;
    font-size: 15px;
    line-height: 1.4;
    color: $white;
    opacity: 0.8;
    max-width: 466px;

    @include tablet {
      font-size: 18px;
    }

    @include semiDesktop {
      font-size: 20px;
    }

    @include desktop {
      font-size: 24px;
    }
  }

  &__button-consultation {
    margin-top: 50px;
    mix-blend-mode: difference;

    @include semiDesktop {
      margin-top: 80px;
      mix-blend-mode: normal;
    }
  }

  .btn {
    position: relative;
    z-index: 1;
    pointer-events: all;
  }
}