.banner-tariff-selection {
  position: relative;
  border-radius: 20px;
  background: #F6F8FE;
}
@media (min-width: 992px) {
  .banner-tariff-selection::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url("../../images/banners/tariff-selection-blur.png");
  }
}
.banner-tariff-selection__body {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
  padding: 20px 20px 30px 20px;
  gap: 25px 0;
}
@media (min-width: 992px) {
  .banner-tariff-selection__body {
    display: block;
    padding: 60px 60px 55px 60px;
  }
}
.banner-tariff-selection__info--text {
  margin-top: 16px;
  font-weight: 450;
  font-size: 16px;
  line-height: 1.4;
  color: #3F4162;
  max-width: 880px;
}
@media (min-width: 768px) {
  .banner-tariff-selection__info--text {
    margin-top: 20px;
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .banner-tariff-selection__info--text {
    font-size: 24px;
  }
}
.banner-tariff-selection__button {
  margin-top: 30px;
  width: 100%;
}
@media (min-width: 768px) {
  .banner-tariff-selection__button {
    width: auto;
  }
}
@media (min-width: 1024px) {
  .banner-tariff-selection__button {
    margin-top: 80px;
  }
}
.banner-tariff-selection__image {
  position: relative;
  display: flex;
  justify-content: center;
}
.banner-tariff-selection__image::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 60px;
  width: 100%;
  background: linear-gradient(180deg, rgba(246, 248, 254, 0) 0%, #f6f8fe 100%);
  transition: background 0.3s ease-in-out;
}
@media (min-width: 992px) {
  .banner-tariff-selection__image {
    position: absolute;
    right: 55px;
    bottom: 0;
    z-index: -1;
  }
  .banner-tariff-selection__image::before {
    background: transparent;
  }
}
.banner-tariff-selection__image img {
  max-width: 240px;
  width: 100%;
  height: auto;
  object-fit: contain;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .banner-tariff-selection__image img {
    max-width: 400px;
  }
}
@media (min-width: 992px) {
  .banner-tariff-selection__image img {
    opacity: 0.4;
  }
}
@media (min-width: 1250px) {
  .banner-tariff-selection__image img {
    max-width: 517px;
  }
}
@media (min-width: 1440px) {
  .banner-tariff-selection__image img {
    opacity: 1;
  }
}