.banner-help-selection {
  border-radius: 20px;
  background: #F6F8FE;
}
.banner-help-selection__body {
  display: flex;
  flex-direction: column-reverse;
  gap: 25px;
  padding: 20px 20px 30px 20px;
}
@media (min-width: 768px) {
  .banner-help-selection__body {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .banner-help-selection__body {
    padding: 60px;
  }
}
.banner-help-selection__info--text {
  margin-top: 16px;
  font-weight: 450;
  font-size: 16px;
  line-height: 1.4;
  color: #3F4162;
  max-width: 780px;
}
@media (min-width: 768px) {
  .banner-help-selection__info--text {
    margin-top: 20px;
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .banner-help-selection__info--text {
    font-size: 24px;
  }
}
.banner-help-selection__button {
  margin-top: 30px;
  width: 100%;
}
@media (min-width: 768px) {
  .banner-help-selection__button {
    width: auto;
  }
}
@media (min-width: 1024px) {
  .banner-help-selection__button {
    margin-top: 80px;
  }
}
.banner-help-selection__image {
  display: flex;
  justify-content: center;
}
.banner-help-selection__image img {
  max-width: 260px;
  width: 100%;
  height: auto;
  object-fit: contain;
  pointer-events: none;
}
@media (min-width: 768px) {
  .banner-help-selection__image img {
    max-width: 420px;
  }
}