.main-section__title {
  position: relative;
  z-index: 1;
  pointer-events: none;
  color: #ffffff;
  max-width: 1072px;
}
.main-section__middle {
  margin-top: 16px;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "description" "tags";
  gap: 24px 0;
}
@media (min-width: 992px) {
  .main-section__middle {
    margin-top: 40px;
    grid-template-columns: auto auto;
    grid-template-areas: "tags description";
    justify-content: space-between;
    gap: 0 50px;
  }
}
.main-section__tags {
  grid-area: tags;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 10px;
  max-width: 870px;
}
@media (min-width: 992px) {
  .main-section__tags {
    gap: 20px;
  }
}
.main-section__tags .btn.calypso {
  background: rgba(255, 255, 255, 0.1);
  border: none;
}
@media (max-width: 768px) {
  .main-section__tags .btn.calypso {
    padding: 9px 14px 9px 8px;
  }
  .main-section__tags .btn.calypso .calypso__inner {
    gap: 2px;
  }
  .main-section__tags .btn.calypso .calypso__icon span:nth-child(1) svg {
    width: 4px;
    height: 4px;
  }
  .main-section__tags .btn.calypso .calypso__icon span:nth-child(2) svg {
    width: 10px;
    height: 10px;
  }
  .main-section__tags .btn.calypso .calypso__text {
    font-size: 12px;
  }
}
.main-section__tags .btn.calypso::before, .main-section__tags .btn.calypso::after {
  background: #1352d1;
}
.main-section__tags .btn.calypso .calypso__inner {
  mix-blend-mode: normal;
}
.main-section__description {
  grid-area: description;
  pointer-events: none;
  position: relative;
  z-index: 1;
  font-weight: 450;
  font-size: 15px;
  line-height: 1.4;
  color: #ffffff;
  opacity: 0.8;
  max-width: 466px;
}
@media (min-width: 768px) {
  .main-section__description {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .main-section__description {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .main-section__description {
    font-size: 24px;
  }
}
.main-section__button-consultation {
  margin-top: 50px;
  mix-blend-mode: difference;
}
@media (min-width: 992px) {
  .main-section__button-consultation {
    margin-top: 80px;
    mix-blend-mode: normal;
  }
}
.main-section .btn {
  position: relative;
  z-index: 1;
  pointer-events: all;
}