.training .training-swiper {
  margin-top: 40px;
}
.training .training-swiper .swiper {
  overflow: unset;
}
.training .training-swiper .swiper-wrapper {
  align-items: stretch;
}
.training .training-swiper .swiper-slide {
  width: auto;
  height: auto;
}
.training .training-swiper .training-swiper__card {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 265px;
}
@media (min-width: 992px) {
  .training .training-swiper .training-swiper__card {
    border-radius: 20px;
    max-width: none;
    min-width: 480px;
    min-height: 280px;
  }
}
.training .training-swiper .training-swiper__card::before {
  display: none;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../images/training/filter.png") no-repeat center center;
  z-index: -1;
}
@media (min-width: 992px) {
  .training .training-swiper .training-swiper__card::before {
    display: block;
  }
}
.training .training-swiper .training-swiper__card--body {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  height: 100%;
}
@media (min-width: 992px) {
  .training .training-swiper .training-swiper__card--body {
    padding: 20px;
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .training .training-swiper .training-swiper__card--body {
    padding: 30px;
  }
}
.training .training-swiper .training-swiper__card--title {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: #191B36;
  max-width: 385px;
}
@media (min-width: 992px) {
  .training .training-swiper .training-swiper__card--title {
    margin-top: 0;
    color: #ffffff;
    font-size: 26px;
  }
}
.training .training-swiper .training-swiper__card--img {
  max-width: 265px;
  border-radius: 16px;
}
@media (min-width: 992px) {
  .training .training-swiper .training-swiper__card--img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -2;
    border-radius: 0;
    max-width: none;
  }
}
.training .training-features {
  margin-top: 40px;
}
@media (min-width: 992px) {
  .training .training-features {
    margin-top: 60px;
  }
}
@media (min-width: 1440px) {
  .training .training-features {
    margin-top: 120px;
  }
}
.training .training-features .training-features__body {
  display: grid;
  flex-direction: column;
  grid-template-columns: 100%;
  gap: 40px;
}
@media (min-width: 992px) {
  .training .training-features .training-features__body {
    flex-direction: row;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    align-items: flex-end;
  }
}
@media (min-width: 1250px) {
  .training .training-features .training-features__body {
    gap: 100px;
    align-items: flex-start;
  }
}
@media (min-width: 992px) {
  .training .training-features .training-features__left {
    max-width: 400px;
  }
}
@media (min-width: 1250px) {
  .training .training-features .training-features__left {
    max-width: 500px;
  }
}
.training .training-features .training-features__right {
  width: 100%;
}
@media (min-width: 992px) {
  .training .training-features .training-features__right {
    max-width: 800px;
  }
}
.training .training-features .training-features__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #191B36;
}
@media (min-width: 768px) {
  .training .training-features .training-features__title {
    font-size: 34px;
  }
}
@media (min-width: 1440px) {
  .training .training-features .training-features__title {
    font-size: 44px;
  }
}
.training .training-features .training-features__types {
  margin-top: 20px;
}
@media (min-width: 1440px) {
  .training .training-features .training-features__types {
    margin-top: 30px;
  }
}
.training .training-features .training-features__type {
  cursor: pointer;
  border-radius: 16px;
  padding-block: 16px;
  padding-inline: 20px;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  .training .training-features .training-features__type {
    padding-block: 24px;
    padding-inline: 30px;
  }
}
.training .training-features .training-features__type.active {
  background-color: #F6F8FE;
}
.training .training-features .training-features__type.active .collapse-block__wrap {
  opacity: 1;
  visibility: visible;
}
.training .training-features .training-features__type .training-features__type--title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.24;
  color: #191B36;
}
@media (min-width: 1440px) {
  .training .training-features .training-features__type .training-features__type--title {
    font-size: 22px;
  }
}
.training .training-features .training-features__type .training-features__type--info {
  padding-top: 10px;
  font-weight: 450;
  font-size: 14px;
  line-height: 1.4;
  color: #3F4162;
}
@media (min-width: 768px) {
  .training .training-features .training-features__type .training-features__type--info {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .training .training-features .training-features__type .training-features__type--info {
    font-size: 18px;
  }
}
.training .training-features .training-features__type .collapse-block__wrap {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.training .training-features .training-features__images {
  position: relative;
  border-radius: 30px;
  height: 345px;
  background-color: #F6F8FE;
  overflow: hidden;
}
@media (min-width: 1440px) {
  .training .training-features .training-features__images {
    height: 450px;
  }
}
.training .training-features .training-features__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 95%;
  width: auto;
  height: auto;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.training .training-features .training-features__content.show {
  z-index: 1;
  opacity: 1;
}
.training .training-features .training-features__content img {
  object-fit: contain;
  object-position: center;
}