
include section-contacts/section-contacts
include no-time-read/no-time-read
include search-team/search-team
include instruction-set/instruction-set
include banner-crm/banner-crm
include form-live-demo/form-live-demo
include quickly-consultation/quickly-consultation
include tags/tags
include banner-subscribe/banner-subscribe
include be-interested/be-interested
include see-also/see-also
include main-section/main-section
include form-consultation/form-consultation
include header-message/header-message
include solutions/solutions

include industries-block/industries-block
include company-rating/company-rating
include order-analysis/order-analysis
include modal-form/modal-form
include stories/stories
include seo-block/seo-block
include modal-city/modal-city
include header-search/header-search
include services-showcase/services-showcase
include banner-cost/banner-cost
include collapse-stages/collapse-stages
include tech-exp/tech-exp
include about-steps/about-steps
include banner-tariff-selection/banner-tariff-selection
include banner-help-selection/banner-help-selection
include cloud-box-compare/cloud-box-compare
include tariff/tariff
include pricing-plans/pricing-plans

include exp-numbers/exp-numbers
include technologies/technologies
include companies-swipers/companies-swipers
include certificates-slider/certificates-slider
include animate-steps/animate-steps
include ai-chat/ai-chat
include training/training