mixin expNumbers()
    //- регистрация
    //- +regLibrary('lib-name/lib.css', 'lib-name/lib.js')
    //- +regComponent('component-name', true, true)

    //exp-numbers
    .exp-numbers&attributes(attributes)
        .exp-numbers__body
            .exp-numbers__items
                .swiper
                    .swiper-wrapper
                        .swiper-slide
                            .exp-numbers__card
                                .exp-numbers__card--top
                                    p.exp-numbers__card--title 10+
                                    p.exp-numbers__card--text лет внедряем CRM-системы
                                .exp-numbers__card--bottom
                                    img(src="./images/exp-numbers/1.png").exp-numbers__card--img
                        .swiper-slide
                            .exp-numbers__card
                                .exp-numbers__card--top
                                    p.exp-numbers__card--title 65+
                                    p.exp-numbers__card--text сертифицированных специалистов команде
                                .exp-numbers__card--bottom
                                    img(src="./images/exp-numbers/2.png").exp-numbers__card--img
                        .swiper-slide
                            .exp-numbers__card
                                .exp-numbers__card--top
                                    p.exp-numbers__card--title 45+
                                    p.exp-numbers__card--text наград
                                .exp-numbers__card--bottom
                                    img(src="./images/exp-numbers/3.png").exp-numbers__card--img
                        .swiper-slide
                            .exp-numbers__card
                                .exp-numbers__card--top
                                    p.exp-numbers__card--title 300+
                                    p.exp-numbers__card--text проектов по внедрению и&nbsp;развитию Битрикс24 в&nbsp;портфолио
                                .exp-numbers__card--bottom
                                    img(src="./images/exp-numbers/4.png").exp-numbers__card--img


