@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// pricing-plans
.pricing-plans {

  &__title {
  }

  &__content {
    margin-top: 60px;
    padding-bottom: 16px;

    @media (max-width: 900px) {
      overflow-x: auto;
      width: 100vw;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }

  &__table-wrap {
    border-radius: 20px;
    border: 1px solid $background;

    @media (max-width: 900px) {
      margin-inline: 16px;
      min-width: 850px;
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    height: auto;
    border-radius: 20px;

    svg {
      width: 14px;
      height: 14px;
    }

    thead {

      tr {

        th {
          background: $background;

          &:not(:last-child) {
            border-right: 1px solid $stroke;
          }

          &:nth-child(1) {
            border-radius: 20px 0 0 0;
            width: 27.6%;
            overflow: hidden;
          }

          &:nth-child(2) {
            width: 18.1%;
          }

          &:nth-child(3) {
            width: 18.1%;
          }

          &:nth-child(4) {
            width: 18.1%;
          }

          &:nth-child(5) {
            border-radius: 0 20px 0 0;
            width: 18.1%;
          }
        }

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-block: 15px;
          padding-inline: 10px;
          font-weight: 500;
          font-size: 16px;
          line-height: 1.24;
          text-align: center;
          color: $black;

          @include desktop {
            padding-block: 20px;
            font-size: 18px;
          }

          @include laptop {
            font-size: 22px;
            padding-block: 30px;
            padding-inline: 20px;
          }
        }
      }
    }

    tbody {
      background-color: $white;

      tr {

        &:not(:last-child) {
          border-bottom: 1px solid $stroke;
        }

        td {
          &:first-child {
            text-align: left;
            padding: 12px 10px;
            font-weight: 450;
            font-size: 14px;
            line-height: 1.24;
            color: $text;

            @include desktop {
              padding: 14px;
            }

            @include laptop {
              padding: 14px 20px;
              font-size: 16px;
            }
          }

          text-align: center;
          vertical-align: middle;
          font-weight: 450;
          font-size: 16px;
          line-height: 1.24;
          color: $text;

          &:not(:last-child) {
            border-right: 1px solid $stroke;
          }
        }
      }
    }

    tfoot {
      border-radius: 0 0 20px 20px;

      tr {
        &:nth-child(1) {
          td {
            background-color: $background;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.4;
            color: $black;
            padding: 10px;
            white-space: nowrap;

            @include desktop {
              padding: 15px 15px 10px 15px;
              font-size: 18px;
            }

            @include laptop {
              font-size: 22px;
              padding: 20px 20px 10px 20px;
            }

            &:not(:first-child) {
              text-align: center;
            }

            &:not(:last-child) {
              border-right: 1px solid $stroke;
            }
          }
        }

        &:nth-child(2) {
          td {
            background-color: $background;
            text-align: center;
            padding-block: 12px 27px;
            padding-inline: 5px;

            &:first-child {
              border-radius: 0 0 0 20px;
            }
            &:last-child {
              border-radius: 0 0 20px 0;
            }

            &:not(:last-child) {
              border-right: 1px solid $stroke;
            }
          }
        }
      }

      button {
        width: 100%;
      }
    }

    thead,
    tfoot {
      position: sticky;

      @media (max-width: 900px) {
        position: relative;
      }
    }

    thead{
      top: 64px;

      @media (max-width: 900px) {
        top: auto;
      }
    }

    tfoot {
      bottom: 0;

      @media (max-width: 900px) {
        bottom: auto;
      }
    }
  }
}
