@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// banner-subscribe
.banner-subscribe {
  position: relative;
  background: #101a30;
  border-radius: 16px;
  padding: 30px 20px;
  overflow: hidden;

  @include desktop {
    padding: 44px 20px;
  }

  @include w1250 {
    padding: 64px 40px 64px 20px;
  }

  &__body {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-areas: "image title"
                          "text text"
                          "form form";
    justify-content: center;
    gap: 0 15px;

    @include desktop {
      gap: 0 20px;
      grid-template-columns: 60px auto auto;
      grid-template-areas: "image title form"
                          "text text form";
    }

    @include w1250 {
      gap: 0 30px;
      align-items: center;
      grid-template-columns: auto auto auto;
      grid-template-areas: "image title form"
                          "image text form";
    }
  }

  &__image {
    grid-area: image;
    pointer-events: none;

    img {
      width: 60px;
      object-fit: contain;
      overflow: hidden;

      @include w1250 {
        width: auto;
        max-width: 130px;
        min-width: 50px;
      }
    }
  }

  &__description {
    max-width: 418px;
  }

  &__title {
    grid-area: title;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.24;
    color: $white;

    @include tablet {
      font-size: 26px;
    }

    @include w1250 {
      font-size: 34px;
    }
  }

  &__text {
    grid-area: text;
    margin-top: 12px;
    font-weight: 450;
    font-size: 16px;
    line-height: 1.4;
    color: $white;

    @include w1250 {
      font-size: 20px;
    }
  }

  &__form {
    margin-top: 40px;
    grid-area: form;

    @include desktop {
      margin-top: 0;
    }

    &_field {
      position: relative;

      .input-field {
        input {
          padding-top: 20px;
          padding-bottom: 12px;
          padding-right: 55px;
          border: none;
          border-radius: 100px;
          font-size: 16px;

          &:focus + .input-field__placeholder,
          &.focus + .input-field__placeholder {
            transform: translateY(-14px);
          }
        }

        .input-field__verified {
          display: none;
        }

        .input-field__error {
          left: 16px;
        }
      }
    }

    &_submit {
      position: absolute;
      top: 0;
      right: 5px;
      bottom: 0;
      z-index: 1;
      margin-block: auto;
      background-color: $blue;

      .icon {
        color: $white;
      }
    }

    &_footer {
      margin-top: 20px;

      .checkbox {

        &__input:checked + .checkbox__label {
          color: $light-grey;

          &::before {
            background-color: transparent;
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.401 2.9996L12.9861 4.58475L5.57126 11.9996L1 7.42844L2.58509 5.8433L5.57126 8.82937L11.401 2.9996Z' fill='white'/%3E%3C/svg%3E");
          }
        }

        &__label {
          font-weight: 450;
          font-size: 13px;
          line-height: 1.26;
          color: $light-grey;

          &::before {
            background-color: transparent;
            border-color: $white;
            background-image: none;
          }

          a {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: $white;
          }
        }
      }
    }
  }

  &__bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
