.modal-success__content
    .modal-success__content_icon
        img(src="./images/success-icon.png", alt="success")
    p.modal-success__content_title Спасибо!
    p.modal-success__content_text Форма успешно отправлена
    p.modal-success__content_note Наши специалисты скоро свяжутся с вами
