@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// industries-block
.industries {

  &__list {
    display: grid;
    grid-template-columns: auto;
    gap: 16px;

    @include mobile {
      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(370px, 3fr));
    }
  }

  &__item {}

  &__card {
    position: relative;
    padding: 20px;
    transition: background-color $transition-default, border-color $transition-default;
    overflow: hidden;

    @include tablet {
      padding: 20px 20px 30px 20px;
    }

    &:not(.not--found) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 10px;
      padding: 16px 15px 16px 0;

      &::before, &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
      }

      &::before {
        background-color: $line-grey;
        width: 100%;
      }

      &::after {
        background-color: $blue;
        width: 0;
        transition: width $transition-default;
      }

      @include tablet {
        display: block;

        &::before, &::after {
          display: none;
        }

        padding: 20px 20px 30px 20px;
        border-radius: 16px;
        background-color: $background;
        border: 8px solid $background;
      }

      .industries__card_body {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        @include tablet {
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
        }
      }

      .industries__card_icon {
        width: 42px;
        height: 42px;


        @include tablet {
          width: 48px;
          height: 48px;
        }

        @include desktop {
          width: 60px;
          height: 60px;
          padding: 15px;
        }

      }

      &:hover {
        &::after {
          width: 100%;
        }

        background-color: $white;

        .industries__card_icon {
          background-color: $blue;

          svg {
            color: $white;
          }
        }

        .industries__card_title {
          color: $blue;
        }

        .industries__card_arrow-icon {
          svg {
            &:nth-child(1) {
              transform: rotate(-45deg) translate(200%, 0);
            }

            &:nth-child(2) {
              transform: rotate(-45deg) translate(0);
            }
          }
        }

        .industries__card_arrow-text {
          opacity: 1;
          visibility: visible;
          transform: translateX(0);
        }
      }
    }

    @include tablet {
      padding: 22px;
      height: 150px;
    }

    @include desktop {
      padding: 20px 20px 30px 20px;
      height: 260px;
    }

    &.not--found {
      position: relative;
      border-radius: 16px;
      background-color: $white;
      border-style: solid;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23EBEEF5' stroke-width='5' stroke-dasharray='10%2c 15' stroke-dashoffset='51' stroke-linecap='square'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-size: 100% 100%;

      .industries__card_icon {
        margin-left: auto;
        background-color: $blue;
        z-index: 1;

        svg {
          width: 20px;
          height: 20px;
          color: $white;
        }
      }

      .industries__card_bg {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        background-color: $blue;
        border-radius: 0 0 0 100%;
        transition: width $transition-default6, height $transition-default6;
        z-index: 0;
        pointer-events: none;
      }

      .industries__card_title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.1;
        letter-spacing: -0.02em;
        color: $blue;
        z-index: 1;

        @include desktop {
          font-size: 30px;
        }
      }

      &:hover {
        .industries__card_bg {
          width: 150%;
          height: 150%;
        }

        .industries__card_title {
          color: $white;
        }

        .industries__card_icon {
          background-color: $white;

          svg {
            color: $blue;
            transform: rotate(-90deg);
          }
        }
      }
    }

    &_body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      height: 100%;
      gap: 20px;
    }

    &_icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      border-radius: 100%;
      padding: 8px;
      transition: background-color $transition-default;

      @include laptop {
        padding: 12px;
      }

      svg {
        width: 100%;
        height: 100%;
        color: $blue;
      }
    }

    &_title {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.1;
      letter-spacing: -0.02em;
      color: $black;
      max-width: 350px;
      transition: color $transition-default;

      @include tablet {
        font-size: 20px;
      }

      @include desktop {
        font-size: 26px;
      }
    }

    &_arrow {
      display: inline-flex;
      align-items: center;
      gap: 10px;

      @include tablet {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }

    &_arrow-text {
      display: none;
      font-weight: 450;
      font-size: 16px;
      line-height: 1.125;
      color: $blue;
      transform: translateX(10px);
      opacity: 0;
      visibility: hidden;
      transition: opacity $transition-default, visibility $transition-default, transform $transition-default;

      @include tablet {
        display: block;
      }
    }

    &_arrow-icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34px;
      height: 34px;
      overflow: hidden;

      svg {
        position: absolute;
        width: 19px;
        height: 19px;
        transition: color $transition-default, transform $transition-default;

        &:nth-child(1) {
          color: $line-grey;
          transform: rotate(-45deg) translate(0);
        }

        &:nth-child(2) {
          color: $blue;
          transform: rotate(-45deg) translate(-200%, 0);
        }
      }
    }

    &_link {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }
  }
}
