@use '../variables.scss' as *;
@use '../mixins.scss' as *;

.section-seo {

  &__title {
  }

  &__content {
    margin-top: 30px;

    @include tablet {
      margin-top: 40px;
    }

    @include desktop {
      margin-top: 60px;
    }
  }
}
