mixin technologies()
    //- регистрация
    //- +regLibrary('lib-name/lib.css', 'lib-name/lib.js')
    //- +regComponent('component-name', true, true)

    //technologies
    .technologies&attributes(attributes)
        .technologies__body
            .technologies__categories
                .technologies__category.frontend
                    p.technologies__category--title Frontend / UI
                    ul.technologies__category--list
                        li
                            img(src="./images/technologies/html5.png")
                            | HTML5
                        li
                            img(src="./images/technologies/css3.png")
                            | CSS3
                        li
                            img(src="./images/technologies/js.png")
                            | JavaScript
                        li
                            img(src="./images/technologies/less.png")
                            | LESS
                        li
                            img(src="./images/technologies/vue2.png")
                            | Vue 2
                        li
                            img(src="./images/technologies/js.png")
                            | Next.js
                        li
                            img(src="./images/technologies/bootstrap.png")
                            | Bootstrap
                        li
                            img(src="./images/technologies/zustand.png")
                            | Zustand
                        li
                            img(src="./images/technologies/antd.png")
                            | Ant Design
                        li
                            img(src="./images/technologies/ts.png")
                            | TypeScript
                        li
                            img(src="./images/technologies/recoil.png")
                            | Recoil
                        li
                            img(src="./images/technologies/react.png")
                            | ReactJS
                        li
                            img(src="./images/technologies/redux.png")
                            | Redux
                        li
                            img(src="./images/technologies/saas.png")
                            | SAAS
                .technologies__category.backend
                    p.technologies__category--title Backend
                    ul.technologies__category--list
                        li
                            img(src="./images/technologies/laravel.png")
                            | Laravel
                        li
                            img(src="./images/technologies/node-js.png")
                            | Node.js
                        li
                            img(src="./images/technologies/php.png")
                            | PHP
                        li
                            img(src="./images/technologies/symfony.png")
                            | Symfony
                        li
                            img(src="./images/technologies/yii2.png")
                            | Yii2
                        li
                            img(src="./images/technologies/bitrix.png")
                            | Bitrix Framework
                .technologies__category.db
                    p.technologies__category--title Базы данных и хранилища
                    ul.technologies__category--list
                        li
                            img(src="./images/technologies/my-sql.png")
                            | MySQL
                        li
                            img(src="./images/technologies/redis.png")
                            | Redis
                        li
                            img(src="./images/technologies/postgre.png")
                            | PostgreSQL
                        li
                            img(src="./images/technologies/clickhouse.png")
                            | ClickHouse
                        li
                            img(src="./images/technologies/s3.png")
                            | S3
                .technologies__category.cms
                    p.technologies__category--title Платформы и CMS
                    ul.technologies__category--list
                        li
                            img(src="./images/technologies/b24.png")
                            | Bitrix24
                        li
                            img(src="./images/technologies/bitrix.png")
                            | 1C-Битрикс
                        li
                            img(src="./images/technologies/pwa.png")
                            | PWA
                        li
                            img(src="./images/technologies/mworks.png")
                            | собственные IT-решения
                .technologies__category.nocode
                    p.technologies__category--title No code
                    ul.technologies__category--list
                        li
                            img(src="./images/technologies/tilda.png")
                            | Tilda
                        li
                            img(src="./images/technologies/b24.png")
                            | Битрикс24.Сайты
                        li
                            img(src="./images/technologies/zapier.png")
                            | Zapier/Albato
                        li
                            img(src="./images/technologies/appmaster.png")
                            | AppMaster
                        li
                            img(src="./images/technologies/n8n.png")
                            | n8n
                        li
                            img(src="./images/technologies/make.png")
                            | make
                .technologies__category.metrika
                    p.technologies__category--title BI и аналитика
                    ul.technologies__category--list
                        li
                            img(src="./images/technologies/roistat.png")
                            | Roistat
                        li
                            img(src="./images/technologies/calltouch.png")
                            | Calltouch
                        li
                            img(src="./images/technologies/power-bi.png")
                            | Power BI
                        li
                            img(src="./images/technologies/yandex-datalens.png")
                            | Yandex DataLens
                .technologies__category.ai
                    p.technologies__category--title Ai
                    ul.technologies__category--list
                        li
                            img(src="./images/technologies/gemini.png")
                            | Gemini
                        li
                            img(src="./images/technologies/ya-gpt.png")
                            | YandexGPT
                        li
                            img(src="./images/technologies/chat-gpt.png")
                            | ChatGPT
                        li
                            img(src="./images/technologies/giga-chat.png")
                            | GigaChat
                        li
                            img(src="./images/technologies/claude.png")
                            | Claude
                        li
                            img(src="./images/technologies/midJourney.png")
                            | MidJourney
                        li
                            img(src="./images/technologies/sora.png")
                            | Sora
                        li
                            img(src="./images/technologies/dall-e.png")
                            | DALL-E
                        li
                            img(src="./images/technologies/kandinsky.png")
                            | Kandinsky
                        li
                            img(src="./images/technologies/iPass.png")
                            | iPaaS
