extends ../../app/pug/layouts/base.pug

append vars
  - title = "Policy"
  - description = "Описание Policy"

append content
    +regPage('policy')
    +regComponent('breadcrumbs', true, true)
    +regComponent('checkbox', true)
    //- регистрация
    //- +regLibrary('lib-name/lib.css', 'lib-name/lib.js')
    //- +regBlock('block-name', true, true)
    main.page
        .page__container
            .page__content
                .policy-page
                    .policy-page__breadcrumbs
                        +breadcrumbs(['Главная', 'Пользовательское соглашение'])
                    h1.h1.policy-page__title Юридическая информация
                    .policy-page__body
                        .policy-page__left
                            p.policy-page__subtitle Общие положения
                            aside.policy-sidebar
                                ul
                                    li
                                        span(data-tab="#user-agreement").active Пользовательское соглашение
                                    li
                                        span(data-tab="#privacy-policy") Политика конфиденциальности
                                    li
                                        span(data-tab="#personal-data") Согласие на&nbsp;обработку персональных данных
                        .policy-page__right
                            .policy__content
                                .policy-doc(data-id="user-agreement")
                                    h2 Пользовательское соглашение
                                    .policy-doc__description
                                        p Настоящий документ «Пользовательское соглашение» представляет собой предложение Общество с ограниченной ответственностью «Медиа Воркс Айти»  (далее – «Оператор») заключить безвозмездный договор на информационное обслуживание на изложенных ниже условиях.
                                        p Внимательно ознакомьтесь с условиями настоящего Пользовательского соглашения до начала использования Сервиса. Пользователь обязуется использовать Сервис только в целях, не противоречащих действующему законодательству Российской Федерации и нормам международного права, а также принципам нравственности, разумности и морали и соглашается не предпринимать действий, которые приводят или могут привести к нарушению нормальной работы Сервиса. Если вы не согласны с условиями настоящего Соглашения и указанных в нем Обязательных документов или не имеете права на заключение договора на их основе, вам следует незамедлительно прекратить любое использование Сервиса.
                                    section
                                        span 1. Общие положения
                                        p 1.1. В настоящем документе и вытекающих или связанных с ним отношениях Сторон применяются следующие термины и определения:
                                        p а) Сервис – совокупность функциональных возможностей программно-аппаратных средств Оператора, включая Сайт и Контент, к которым Пользователю предоставляется доступ в целях информационного обслуживания.
                                        p б) Сайт – автоматизированная информационная система, доступная в сети Интернет по адресу (включая поддомены)
                                            |
                                            |
                                            a(href="https://mworks.ru") https://mworks.ru.
                                        p в) Пользователь – вы и/или иное лицо, в интересах которого вы заключили настоящее Соглашение с Оператором в соответствии с требованиями действующего законодательства и настоящего Соглашения.
                                        p г) Контент – любые информационные материалы, включая текстовые, графические, аудиовизуальные и прочие материалы, к которым можно получить доступ с использованием Сервиса.
                                        p 1.2. Использование вами Сервиса любым способом и в любой форме в пределах его объявленных функциональных возможностей, включая:
                                        ul
                                            li просмотр Контента в рамках Сервиса;
                                            li оформление подписки на информационную рассылку;
                                            li направление сообщения с использованием онлайн-форм на Сайте;
                                            li обращение в службу поддержки Сайта по реквизитам, размещенным на Сайте;
                                            li иное использование Сервиса,
                                        p создает договор на условиях настоящего Соглашения и указанных в нем обязательных для Сторон документов в соответствии с положениями ст.437 и 438 Гражданского кодекса Российской Федерации.
                                        p 1.3. Воспользовавшись любой из указанных выше возможностей по использованию Сервиса вы подтверждаете, что:
                                        p а) Ознакомились с условиями настоящего Соглашения и указанных в нем Обязательных документов в полном объеме до начала использования Сервиса.
                                        p б) Принимаете все условия настоящего Соглашения и указанных в нем Обязательных документов в полном объеме без каких-либо изъятий и ограничений с вашей стороны и обязуетесь их соблюдать или прекратить использование Сервиса.
                                    section
                                        span 2. Общие условия пользования Сервисом
                                        p 2.1. Обязательным условием заключения настоящего Соглашения является полное и безоговорочное принятие и соблюдение Пользователем в установленных ниже случаях требований и положений, определенных следующими документами («Обязательные документы»):
                                        p а) Политика конфиденциальности, размещенная и/или доступная в сети Интернет по адресу
                                            |
                                            |
                                            a(href="https://mworks.ru/personal.php") https://mworks.ru/personal.php.
                                        p 2.2. Оператор вправе устанавливать лимиты и вводить иные технические ограничения использования Сервиса, которые время от времени будут доводиться до сведения Пользователей в форме и способом по выбору Оператора.
                                    section
                                        span 3. Ограничения
                                        p Соглашаясь с условиями настоящего Соглашения, вы понимаете и признаете, что:
                                        p 3.1. К отношениям Сторон по предоставлению Сервиса на безвозмездной основе не подлежат применению положения законодательства о защите прав потребителей.
                                        p 3.2. Сервис предоставляется для использования в информационных целях на условиях «как есть», в связи с чем Пользователям не представляются какие-либо гарантии, что Сервис будет соответствовать всем требованиям Пользователя; услуги будут предоставляться непрерывно, быстро, надежно и без ошибок; результаты, которые могут быть получены с использованием Сервиса, будут точными и надежными; качество какого-либо продукта, услуги, информации и Контента, полученных с использованием Сервиса, будет соответствовать ожиданиям Пользователя; все ошибки в Контенте и/или программном обеспечении Сервиса будут исправлены.
                                        p 3.3. Поскольку Сервис находится на стадии постоянного дополнения и обновления новых функциональных возможностей, форма и характер предоставляемых услуг могут время от времени меняться без предварительного уведомления Пользователя. Оператор вправе по собственному усмотрению прекратить (временно или окончательно) предоставление услуг (или каких-либо отдельных функций в рамках услуг) всем Пользователям вообще или вам, в частности, без вашего предварительного уведомления.
                                        p 3.4. Пользователь не имеет права самостоятельно или с привлечением третьих лиц:
                                        ul
                                            li копировать (воспроизводить) в любой форме и способом входящие в состав Сервиса Оператора программы для ЭВМ и базы данных, включая любые их элементы и Контент, без получения предварительного письменного согласия их владельца;
                                            li вскрывать технологию, эмулировать, декомпилировать, дизассемблировать, дешифровать, и производить иные аналогичные действия с Сервисом;
                                            li создавать программные продукты и/или сервисы с использованием Сервиса без получения предварительного разрешения Оператора.
                                        p 3.5. При обнаружении ошибок в работе Сервиса или в размещенном на нем Контенте сообщите об этом Оператору по адресу, указанному в реквизитах или отдельно на Сайте для службы поддержки.
                                        p 3.6. При любых обстоятельствах ответственность Оператора ограничена 1 000 (Одной тысячей) рублей и возлагается на него исключительно при наличии в его действиях вины.
                                        p 3.7. Пользователь самостоятельно несёт ответственность за все действия (а также их последствия) при использовании Сервиса.
                                        p 3.8. Оператор не отвечает за любые технические сбои или иные проблемы любых телефонных сетей или служб, компьютерных систем, серверов или провайдеров, компьютерного или телефонного оборудования, программного обеспечения, сбоев сервисов электронной почты или скриптов по техническим причинам.
                                        p 3.9. В отношении Пользователей, не соблюдающих условия настоящего Соглашения, Оператор оставляет за собой безусловное право приостановки доступа к Сервису на определенный срок или полностью. Выбор мер воздействия является исключительной прерогативой Оператора. Предварительные предупреждения о нарушении Соглашения Пользователям не направляются.
                                        p 3.10. Сервис может содержать ссылки на сайты/сервисы, принадлежащие третьим лицам или контролируемые третьими лицами. Оператор не несет ответственности за содержание и материалы такого сайта/сервиса, не контролирует их. Ссылка на любой сайт, не принадлежащий Оператору, не означает, что Оператор одобряет данный сайт или продукцию, или услуги, указанные на нем.
                                        p 3.11. Оператор не несёт ответственности перед Пользователем или третьими лицами и не возмещает любые убытки , включая, но не ограничиваясь, любой ущерб, упущенную выгоду или потерянные данные, вред, причинённый чести, достоинству или деловой репутации, и иные убытки, причинённые в связи с использованием Сервиса или иных материалов и сервисов, содержащихся на Сервисе.
                                        p 3.12. Оператор исходит из того, что все формы на Сервисе заполняет непосредственно Пользователь. Ответственность за правомерность предоставления и достоверность Персональных данных Пользователя и иных лиц, данные которых сообщены, несёт исключительно Пользователь.
                                        p 3.13. Пользователю не предоставляется никаких интеллектуальных прав, в том числе в отношении как Сервиса в целом, так и в отношении отдельного программного обеспечения, дизайнерских решений, литературных, графических и аудиовизуальных произведений, входящих в состав Сервиса.
                                        p 3.14. При использовании Сервиса Пользователь не вправе нарушать права и законные интересы третьих лиц, а также причинять вред в какой-либо форме, включая вред деловой репутации.
                                        p 3.15. Пользователь не вправе нарушать нормальную работу как отдельных страниц и форм Сервиса, так и Сервиса в целом.
                                    section
                                        span 4. Уведомления
                                        p 4.1. Пользователь соглашается получать от Оператора на электронный адрес и/или абонентский номер телефона, указанный вами при работе с Сервисом, информационные электронные сообщения (далее — «нотификаторы»). Для отправки будут использоваться указанные Пользователем контактные данные. Оператор вправе направлять нотификаторы в течение всего периода функционирования Сервиса, вне зависимости от времени суток и дня недели.
                                        p 4.2. Оператор вправе использовать нотификаторы для информирования Пользователя об изменениях и новых возможностях Сервиса, об изменении Соглашения или указанных в нем Обязательных документов, а также для рассылок информационного или рекламного характера. Для достижения указанных целей я согласен(на) на передачу моих данных третьим лицам.
                                        p 4.3. Оператор вправе совершать следующие действия (операции) с персональными данными: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных. Общество вправе осуществлять обработку персональных данных с применением средств автоматизации, а также осуществлять смешанную обработку ваших персональных данных.
                                        p
                                            | 4.4.
                                            |
                                            label.checkbox.policy
                                                input.checkbox__input(type="checkbox", value="agree", name="policy", checked="checked")
                                                span.checkbox__label
                                            |
                                            | Даю согласие на получение мной информационной и рекламной рассылки по сетям электросвязи от Оператора в соответствии с разделом 4 настоящего Соглашения.
                                        p Я уведомлен, что предоставление настоящего согласия является моим правом, осуществляется мной добровольно по моему собственному волеизъявлению, в отсутствие пороков дееспособности и не является обязательным условием.
                                        p Я уведомлен, что могу отказаться от получения рекламы и рекламной рассылки по сетям электросвязи в следующем порядке:
                                        p — путем заполнения чек-бокса отказа от рекламы;
                                        p — по адресу: 428001, Чувашская Республика, г. Чебоксары, Приволжский б-р, д. 4, помещ. 7 или по адресу электронной почты top@mworks.ru.
                                        p Настоящее согласие действует до момента отзыва настоящего согласия. Датой отзыва считается день, следующий за днем вручения Оператору заявления об отзыве согласия на обработку персональных данных указанным и получение рассылки рекламно-информационных материалов.
                                    section
                                        span 5. Прочие условия
                                        p 5.1. Настоящее Соглашение, порядок его заключения и исполнения, а также вопросы, не урегулированные настоящим Соглашением, регулируются действующим законодательством Российской Федерации.
                                        p 5.2. Все споры по Соглашению или в связи с ним подлежат рассмотрению в суде по месту нахождения Оператора в соответствии с действующим процессуальным правом Российской Федерации. Предварительный претензионный порядок разрешения споров обязателен. Срок рассмотрения претензии 15 (Пятнадцать) дней с даты получения.
                                        p 5.3. Настоящее Соглашение может быть изменено или прекращено Оператором в одностороннем порядке без предварительного уведомления Пользователя и без выплаты какой-либо компенсации, в связи с этим. Пользователь обязан самостоятельно отслеживать внесение изменений в настоящее Соглашение.
                                        p 5.4. Действующая редакция настоящего Соглашения размещена на Сайте Оператора и доступна в сети Интернет по адресу
                                            |
                                            |
                                            a(href="https://mworks.ru/personal.php") https://mworks.ru/personal.php
                                        .requisites
                                            p 5.5. Реквизиты Оператора:
                                            p Общество с ограниченной ответственностью
                                            p «Медиа Воркс Айти»
                                            p ИНН: 2100000872
                                            p КПП: 210001001
                                            p Адрес: 428001, Чувашская Республика, г Чебоксары, Приволжский б-р, д. 4, помещ. 7
                                            p Email: hello@mworx.ru
                                            p Редакция от __.__.2025 г.
                                .policy-doc(data-id="privacy-policy")
                                    h2 Политика конфиденциальности
                                    .policy-doc__description
                                        p Настоящий документ «Политика конфиденциальности» (далее – по тексту – «Политика») представляет собой выражает политику в отношении обработки персональных данных и правила использования иной персональной информации Пользователя, полученных Оператором указанными ниже способами.
                                    section
                                        span 1. Термины и определения
                                        p 1.1. В настоящем документе и вытекающих или связанных с ним отношениях Сторон применяются следующие термины и определения:
                                        p а. Оператор – лицо, указанное в реквизитах настоящей Политики.
                                        p б. Пользователь – лицо, заключившее с Оператором Пользовательское соглашение в своем или чужом интересе в соответствии с требованиями действующего законодательства и Пользовательского соглашения.
                                        p в. Договор – договор на безвозмездное использование Сайта (Пользовательское соглашение, далее – Соглашение), договор возмездного оказания услуг или иное соглашение с Оператором или другим Пользователем предлагаемое к заключению и/или заключенное Пользователем с Оператором.
                                        p г. Сайт – автоматизированная информационная система, доступная в сети Интернет по адресу
                                            |
                                            |
                                            a(href="https://mworks.ru/") https://mworks.ru/,
                                            |
                                            | включая субдомены и иные интегрированные с ним программы для ЭВМ и/или базы данных, реализующие функциональные возможности Сайта по ознакомлению с услугами, в области разработки и продвижения сайтов, разработки корпоративных порталов.
                                        p 1.2. В настоящей Политике используются термины и определения, предусмотренные Соглашением, а также иными заключаемыми с Пользователем Договорами, если иное не предусмотрено настоящей Политикой или не вытекает из ее существа. В иных случаях толкование применяемого в Политике термина производится в соответствии с действующим законодательством Российской Федерации, обычаями делового оборота, или научной доктриной.
                                    section
                                        span 2. Общие положения
                                        p 2.1. Настоящая Политика является неотъемлемой частью ссылающихся на нее документов, включая, но не ограничиваясь Пользовательским соглашением.
                                        p 2.2. Используя Сайт следующим образом: направляя обращение Оператору, оформляя заказ на оказание услуг или выполнение работ, и/или любым иным способом использования, и/или заключая Договор вы свободно, своей волей и в своих интересах  даете конкретное, предметное, информированное, сознательное и однозначное согласие на следующие способы обработки Персональной информации: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (предоставление, доступ), обезличивание, блокирование, удаление, уничтожение в целях и в порядке, установленных настоящей Политикой, с использованием средств автоматизации или без использования таких средств по усмотрению Оператора.
                                        p 2.3. Оператор не осуществляет намеренный сбор персональных данных у лиц, не достигших 18 лет, и не запрашивает их. Лицам, не достигшим 18 лет, не разрешается предоставлять личную информацию, включая имя, адрес, номер телефона и адрес электронной почты. Если Оператору станет известно о том, что информация была получена от лица в возрасте до 18 лет, Оператор безотлагательно удалит такую информацию. Если вы считаете, что нами могла быть получена какая-либо информация от лица младше 18 лет, пожалуйста, свяжитесь с нами по электронной почте, указанной в настоящей Политике.
                                        p 2.4. Хранение и иная обработка всех данных на Сайте осуществляется на территории Российской Федерации. Трансграничная передача персональных данных не осуществляется.
                                        p 2.5. К настоящей Политике, включая толкование ее положений и порядок принятия, исполнения, изменения и прекращения, подлежит применению законодательство Российской Федерации.
                                    section
                                        span 3. Персональная информация
                                        p 3.1. Под персональной информацией в настоящей Политике понимается:
                                        p 3.1.1. Информация, которую Пользователь предоставляет о себе самостоятельно при использовании Сайта, включая персональные данные Пользователя.
                                        p 3.1.2. Данные, которые передаются в автоматическом режиме в зависимости от настроек программного обеспечения Пользователя в обезличенном виде.
                                        p 3.2. Оператор вправе устанавливать требования к составу Персональной информации Пользователя, которая должна обязательно предоставляться для использования Сайта и/или заключения Договора путем указания такой информации. Если определенная информация не помечена Оператором как обязательная, ее предоставление или раскрытие осуществляется Пользователем на свое усмотрение.
                                        p 3.3. При направлении Пользователем обращения через контактную форму обязательно указывается следующая Персональная информация: имя, абонентский номер телефона, адрес электронной почты. Дополнительно могут быть предоставлены: сообщение в свободной форме.
                                        p В качестве представителя юридического лица Пользователь может дополнительно предоставить следующие данные: ИНН, сведения о представляемой организации, месте регистрации. Данные о юридическом лице не являются Персональной информацией.
                                        p 3.4. Оператор не осуществляет проверку достоверности предоставляемой Персональной информации и наличия у Пользователя необходимого согласия на ее обработку в соответствии с настоящей Политикой, полагая, что Пользователь действует добросовестно, осмотрительно и прилагает все необходимые усилия к поддержанию такой информации в актуальном состоянии и получению всех необходимых согласий субъектов персональных данных.
                                        p 3.5. Пользователь осознает, принимает и соглашается с тем, что Оператор использует на Сайте программное обеспечение третьих лиц, в результате чего Оператор и такие лица могут получать в автоматическом режиме обезличенные данные.
                                        p К указанному программному обеспечению третьих лиц относятся следующие системы по сбору и обработке аналитических данных:
                                        ul
                                            li Яндекс.Метрика, осуществляющая сбор и обработку данных в соответствии с политикой конфиденциальности, размещенной и/или доступной в сети Интернет по адресу:
                                                |
                                                |
                                                a(href="https://yandex.ru/legal/confidential/" target="_blank" rel="noreferrer noopener") https://yandex.ru/legal/confidential/
                                            li Roistat ООО «Бизнес аналитика», осуществляющая сбор и обработку данных в соответствии с политикой конфиденциальности, размещенной и/или доступной в сети Интернет по адресу:
                                                |
                                                |
                                                a(href="https://roistat.com/ru/legal" target="_blank" rel="noreferrer noopener") https://roistat.com/ru/legal
                                        p Вышеприведенный перечень не является исчерпывающим, Оператор может использовать иные подобные системы, а также прекращать использование указанных в перечне.
                                        p Собираемые обезличенные данные могут включать:
                                        ul
                                            li данные об устройстве Пользователя (модель, производитель, объем свободной памяти), место его положения (страна, населенный пункт), данные операционной системы (тип, версия, разрешение экрана) и другие;
                                            li данные запроса (время, источник перехода, IP-адрес);
                                            li данные файла cookie*;
                                            li иные обезличенные данные о действиях Пользователя на Сайте.
                                        p Состав, а также условия сбора и использования обезличенных данных правообладателями указанного программного обеспечения определяются непосредственно такими правообладателями и регулируются документами, которые размещены и/или доступны на их сайтах в сети Интернет.
                                        p Принимая настоящую Политику, а также устанавливая определенные настройки в своем программном обеспечении, в т.ч. в операционной системе устройства, Пользователь соглашается с условиями сбора и использования данных правообладателями указанного выше программного обеспечения.
                                        p *Файл cookie — это небольшой текстовый файл, записываемый на устройство пользователя и содержащий информацию о действиях пользователя в сети Интернет. Некоторые из таких файлов могут помогать определять местоположение, другие — запоминать пользовательские настройки. Параметры работы с файлами cookie настраиваются пользователем в своем браузере. Запрещать прием всех файлов cookie, однако, не рекомендуется: в этом случае Пользователь не сможет воспользоваться некоторыми функциональными возможностями Сайта.
                                        p Обезличенные данные не объединяются с информацией о Пользователе, указанной в п. 3.1.1 и не используются для идентификации Пользователей.
                                        p 3.6. Оператор не несет ответственность за порядок использования Персональной информации Пользователя третьими лицами, с которыми Пользователь взаимодействует в рамках использования Сайт.
                                    section
                                        span 4. Цели обработки Персональной информации
                                        p 4.1. Оператор осуществляет обработку, в том числе сбор и хранение только общедоступных категорий персональных данных и только тех персональных данных, которые необходимы для заключения и исполнения Договоров с Пользователями и/или Сделок между ними.
                                        p 4.2. Оператор вправе использовать Персональную информацию в целях заключения и исполнения Договоров, включая следующие действия:
                                        p 4.2.1. Идентификация Пользователя в рамках исполнения обязательств по заключенному с ним Соглашению.
                                        p При оказании информационных услуг, предоставлении информационной и технической поддержки, Пользователь идентифицируется по имени, фамилии, абонентскому номеру телефона и/или адресу электронной почты.
                                        p 4.2.2. Нотификация в рамках информационного обслуживания по заключенным Договорам и/или улучшения качества работы Сайта, в том числе с привлечением третьих лиц.
                                        p Для этого используется адрес электронной почты и абонентский номер телефона Пользователя.
                                        p 4.3. Указанные в п.4.2. настоящей Политики категории и перечень персональных данных Пользователей используются Оператором способами, указанными п.2.2. настоящей Политики. Сроки их обработки и хранения, порядок уничтожения персональных данных при достижении целей их обработки или при наступлении иных законных оснований указаны в разделе 7 настоящей Политики.
                                        p 4.4. Дополнительно к указанным в п.4.2. целям Оператор вправе использовать Персональную информацию, не включающую персональные данные Пользователя, в следующих целях:
                                        p 4.4.1. Обеспечение безопасности и конфиденциальности данных.
                                        p В целях проверки подозрительных действий на Сайте собирается информация об используемом Пользователем IP-адресе.
                                        p 4.4.2. Проведение маркетинговых, статистических и иных исследований на основе обезличенных данных в целях улучшения работы Сайта.
                                        p Данные из систем сбора аналитических данных, указанных в п. 3.5. Политики, в обезличенном виде собираются и анализируются, чтобы узнать об интересах и предпочтениях Пользователей.
                                        p 4.4.3. Таргетинг рекламных и/или информационных материалов с использованием обезличенных данных из систем сбора аналитических данных, указанных в п. 3.5. Политики.
                                    section
                                        span 5. Требования к защите Персональной информации
                                        p 5.1. Оператор осуществляет хранение Персональной информации и обеспечивает ее охрану от несанкционированного доступа и распространения в соответствии с внутренними правилами и регламентами.
                                        p 5.2. В отношении Персональной информации Пользователя сохраняется ее конфиденциальность, за исключением информации, самостоятельно раскрываемой Пользователем неограниченному кругу лиц (п. 3.4. настоящей Политики), а также иных случаев, когда технология работы Сайта или настройки используемого Пользователем программного обеспечения предусматривают обмен информацией с иными участниками сети Интернет.
                                        p 5.3. В целях улучшения качества работы Сайта, Оператор вправе хранить лог-файлы о действиях, совершенных Пользователем в рамках использования Сайта, а также в связи с заключением и исполнением Пользователем Договоров со своей стороны.
                                        p 5.4. Пользователи, получившие доступ к персональным данным других Пользователей в связи с заключением и/или исполнением Договоров между ними, обязаны соблюдать положения п.5.1. и 5.2. настоящей Политики, а также осуществлять обработку полученных персональных данных в соответствии с настоящей Политикой и действующим законодательством.
                                    section
                                        span 6. Передача информации
                                        p 6.1. Оператор вправе передать Персональную информацию третьим лицам в следующих случаях:
                                        ul
                                            li Пользователь выразил свое согласие на такие действия, включая случаи применения Пользователем настроек используемого программного обеспечения, не ограничивающих предоставление определенной информации;
                                            li Передача осуществляется в рамках использования Пользователем функциональных возможностей Сайта;
                                            li В связи с привлечением третьих лиц – поставщиков услуг для оказания услуг Оператору. Таким поставщикам услуг Персональная информация передается с единственной целью оказания услуг Оператору. В частности, адреса электронной почты могут передаваться сервисам электронных рассылок; хранение данных Сайта может осуществляться на мощностях третьих лиц, оказывающих Оператору услуги хостинга и аренды вычислительных мощностей.
                                            li В связи с передачей Сайта Оператора во владение, пользование или собственность третьего лица, или уступкой прав по заключенным с Пользователем договорам в пользу третьего лица;
                                            li По запросу суда или иного уполномоченного государственного органа в рамках установленной законодательством процедуры;
                                            li Для защиты прав и законных интересов Оператора в связи с нарушением заключенных с Пользователем Договоров.
                                    section
                                        span 7. Хранение, изменение и удаление персональных данных
                                        p 7.1. Оператор осуществляет обработку и хранение персональных данных Пользователя до достижения цели их обработки или утраты необходимости в ее достижении, невозможности обеспечения правомерности обработки персональных данных, либо отзыва Пользователем согласия на обработку его персональных данных, если сохранение персональных данных более не требуется для целей их обработки на основании договора или действующего законодательства.
                                        p 7.2. При достижении цели обработки персональных данных Пользователя или при утрате необходимости в ее достижении, либо в случае невозможности обеспечения правомерности обработки персональных данных, а также в случае отзыва Пользователем согласия на обработку его персональных данных, если сохранение персональных данных более не требуется для целей их обработки, Оператор в срок, не превышающий 30 дней с даты возникновения соответствующего основания, обязан уничтожить такие персональные данные в порядке, предусмотренном локальными актами Оператора.
                                    section
                                        span 8. Изменение Политики конфиденциальности
                                        p 8.1. Настоящая Политика может быть изменена или прекращена Оператором в одностороннем порядке без предварительного уведомления Пользователя. Новая редакция Политики вступает в силу с момента ее размещения на Сайте Оператора, если иное не предусмотрено новой редакцией Политики.
                                        p 8.2. Действующая редакция Политики находится на Сайте Оператора в сети Интернет по адресу
                                        p
                                            a(href="https://mworks.ru/personal.php") https://mworks.ru/personal.php

                                .policy-doc(data-id="personal-data")
                                    h2 Согласие на обработку персональных данных
                                    .policy-doc__description
                                        p Настоящим оставляя заявку на информационном ресурсе – веб-сайте
                                            |
                                            |
                                            a(href="https://mworks.ru/") https://mworks.ru/,
                                            |
                                            | действуя свободно, по своей воле и в своем интересе в отсутствие пороков дееспособности, я даю свое конкретное, предметное, информированное, сознательное и однозначное согласие на обработку своих персональных данных (далее — ПД) ООО "Медиа Воркс Айти" (ИНН 2100000872, зарегистрированному в соответствии с законодательством РФ по адресу: 428001, Чувашская Республика, г. Чебоксары, Приволжский б-р, д. 4, помещ. 7), (далее — «Оператор») при обращении к нему, в том числе посредством сайта
                                            |
                                            |
                                            a(href="https://mworks.ru/") https://mworks.ru
                                            |
                                            | и его поддоменов (далее — «Сайт») в соответствии с Политикой обработки персональных данных.
                                        p Принятием (акцептом) настоящего согласия на обработку персональных данных является заполнение значка «✓» в графе “Заполняя форму, я даю согласие на обработку персональных данных, и на получение информации об услугах” и нажатие кнопки отправки формы.
                                    section
                                        span Цели обработки ПД:
                                        ul
                                            li обработка поступающих запросов и связи с Пользователем;
                                            li идентификация Пользователя;
                                            li нотификация в рамках информирования.
                                        p Перечень ПД, на обработку которых дается согласие:
                                        ul
                                            li контактная информация: фамилия, имя и отчество, номер мобильного телефона, адрес электронной почты, идентификаторы мессенджеров;
                                            li технические сведения о пользовательских устройствах и идентификаторы, собираемые Счетчиками, в т.ч. файлы «cookie», информация о местоположении.
                                    section
                                        span Перечень действий с ПД, на совершение которых дается согласие:
                                        p Сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (предоставление, доступ), обезличивание, блокирование, удаление и уничтожение ПД. Обработка ПД может осуществляться как с использованием средств автоматизации, так и без их использования.
                                        p Третьи лица, обрабатывающие персональные данные по поручению Оператора для указанной в согласии цели:
                                        ul
                                            li ООО «Яндекс», 119021, г. Москва, ул. Льва Толстого, д. 16
                                            li ООО «Бизнес-Аналитика», 109004, г. Москва, ул. Александра Солженицына, д. 23а стр. 1, помещ. III ком. 1
                                        p Я даю согласие на передачу моих персональных данных таким третьим лицам для их обработки в целях и способами, указанными выше.
                                        p Согласие на обработку моих персональных данных указанными выше третьими лицами может быть отозвано посредством направления письменного запроса на отзыв согласия на их обработку на адреса соответствующих третьих лиц или Оператора.
                                    section
                                        span Действие согласия:
                                        p Срок действия настоящего согласия на обработку персональных данных начинается с момента его представления Оператору и прекращается по достижении целей обработки персональных данных или по получении отзыва согласия на обработку персональных данных, путем направления соответствующего уведомления по адресу:
                                        p - электронной почты: top@mworks.ru
                                        p - нахождения Оператора : 428001, Чувашская Республика, г. Чебоксары, Приволжский б-р, д. 4, помещ. 7.
                                        p Подтверждение ознакомления с Политикой:
                                        p Я подтверждаю, что ознакомлен(а) с положениями Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных» и Политикой обработки персональных данных, размещенной по адресу
                                            |
                                            |
                                            a(href="https://mworks.ru/personal.php") mworks.ru/personal.php,
                                            |
                                            | права и обязанности в области защиты ПД мне разъяснены.

