@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// search-team
.search-team, .quickly-consultation {
  border-radius: $radius-lg;
  padding: 16px;
  background-color: $background;

  @include w1250 {
    padding: 32px;
  }

  &__title {
    margin-top: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.24;
    color: $black;

    @include w1250 {
      font-size: 24px;
    }
  }

  &__text {
    margin-top: 14px;
    font-weight: 450;
    font-size: 18px;
    line-height: 1.24;
    color: $text;
  }

  button {
    margin-top: 60px;
    width: 100%;
  }
}

.quickly-consultation {

  &__form {
    margin-top: 60px;

    .input-field {
      input {
        background-color: transparent;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 16px;
      }

      .input-field__placeholder {
        font-size: 16px;
      }
    }

    button[type="submit"] {
      margin-top: 30px;
    }
  }

  &__note {
    margin-top: 20px;
    display: block;
    font-weight: 450;
    font-size: 12px;
    line-height: 1.24;
    color: $light-grey;

    a {
      color: $text;
    }
  }

  &__agree {

    .checkbox {

      &__label {
        font-size: 13px;
      }
    }
  }
}
