@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// modal-city
.modal-city {

  &__body {
  }

  &__header {
  }

  &__title {
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: $black;
  }

  &__field {
    margin-top: 10px;
    max-width: 585px;

    @include tablet {
      margin-top: 40px;
    }
  }

  &__input {
    width: 100%;
    border: 1px solid $line-grey;
    border-radius: 10px;
    background: $white;
    padding: 16px;
    font-weight: 450;
    font-size: 16px;
    line-height: 1.2;
    color: $light-grey;

    @include semiDesktop {
      padding: 20px 16px;
      font-size: 18px;
    }
  }

  &__presets {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 20px;

    @include semiDesktop {
      gap: 10px 40px;
    }

    a {
      padding-block: 6px;
      font-weight: 450;
      font-size: 16px;
      line-height: 1.22222;
      color: $text;

      @include semiDesktop {
        font-size: 18px;
      }

      &:hover {
        color: $blue;
      }
    }
  }

  &__list {
    margin-top: 20px;
    max-width: 750px;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 20px;
    margin-right: -10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    gap: 0 30px;

    @include tablet {
      grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
      max-height: 320px;
      padding-bottom: 0;
    }

    @include semiDesktop {
      margin-top: 30px;
      margin-right: -30px;
      padding-right: 30px;
      grid-template-columns: repeat(auto-fit, minmax(150px, 3fr));
    }

    @include laptop {
      margin-right: -60px;
      padding-right: 60px;
    }

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blue;
    }
  }

  &__filter {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 20px;
    margin-right: -10px;
    padding-right: 10px;
    max-width: 750px;

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blue;
    }

    @include tablet {
      max-height: 320px;
      padding-bottom: 0;
    }

    .city-select {
      grid-template-columns: auto 1fr !important;

      &__word {
        display: none;
      }
    }
  }

  .city-select {
    display: grid;
    grid-template-columns: 25px 1fr;
    gap: 0 6px;

    &:hover {
      .city-select__text {
        color: $blue;
      }
    }

    &__word {
      padding-block: 6px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.375;
      color: $blue;
    }

    &__text {
      display: inline-flex;
      align-items: center;
      padding-block: 6px;
      font-weight: 450;
      font-size: 16px;
      line-height: 1.375;
      color: $grey-blue;
    }
  }
}
